In [2]:
import pandas as pd

In [5]:
df = pd.read_csv(r"/content/fr-esr-parcoursup.csv",sep = ";")

In [ ]:
df

,Session,"Statut de l’établissement de la filière de formation (public, privé…)",Code UAI de l'établissement,Établissement,Code départemental de l’établissement,Département de l’établissement,Région de l’établissement,Académie de l’établissement,Commune de l’établissement,Sélectivité,...,tri,COD_AFF_FORM,LIB_FOR_VOE_INS,detail_forma2,Lien de la formation sur la plateforme Parcoursup,Dont taux d’accès des candidats ayant un bac général ayant postulé à la formation,Dont taux d’accès des candidats ayant un bac technologique ayant postulé à la formation,Dont taux d’accès des candidats ayant un bac professionnel ayant postulé à la formation,etablissement_id_paysage,composante_id_paysage
0,2021,Privé sous contrat d'association,0740092Y,Lycée Sainte Famille,74,Haute-Savoie,Auvergne-Rhône-Alpes,Grenoble,La Roche-sur-Foron,formation sélective,...,3_Autres formations,8884,Diplôme de Comptabilité et de Gestion,NaN,https://dossier.parcoursup.fr/Candidat/carte?g...,53.0,47.0,0.0,NaN,NaN
1,2021,Privé sous contrat d'association,0740100G,Lycée SAINT JOSEPH,74,Haute-Savoie,Auvergne-Rhône-Alpes,Grenoble,Thonon-les-Bains,formation sélective,...,2_Lycées,8887,BTS - Services - Analyses de biologie médicale,NaN,https://dossier.parcoursup.fr/Candidat/carte?g...,60.0,40.0,0.0,NaN,NaN
2,2021,Privé sous contrat d'association,0740283F,ISETA de Poisy,74,Haute-Savoie,Auvergne-Rhône-Alpes,Grenoble,Poisy,formation sélective,...,2_Lycées,8890,"BTS - Agricole - Analyse, conduite et stratégi...",NaN,https://dossier.parcoursup.fr/Candidat/carte?g...,21.0,64.0,14.0,NaN,NaN
3,2021,Privé sous contrat d'association,0740283F,ISETA de Poisy,74,Haute-Savoie,Auvergne-Rhône-Alpes,Grenoble,Poisy,formation sélective,...,2_Lycées,8892,BTS - Agricole - Aquaculture,NaN,https://dossier.parcoursup.fr/Candidat/carte?g...,47.0,31.0,22.0,NaN,NaN
4,2021,Privé sous contrat d'association,0741101V,Lycée Les Bressis,74,Haute-Savoie,Auvergne-Rhône-Alpes,Grenoble,Annecy,formation sélective,...,2_Lycées,8898,BTS - Services - Comptabilité et gestion,NaN,https://dossier.parcoursup.fr/Candidat/carte?g...,36.0,18.0,45.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13391,2021,Public,0731487V,IUT de CHAMBERY,73,Savoie,Auvergne-Rhône-Alpes,Grenoble,Le Bourget-du-Lac,formation sélective,...,1_universités,8842,BUT - Science et génie des matériaux Parcours ...,NaN,https://dossier.parcoursup.fr/Candidat/carte?g...,71.0,29.0,0.0,zCa4j,NaN
13392,2021,Public,0740003B,Lycée Berthollet,74,Haute-Savoie,Auvergne-Rhône-Alpes,Grenoble,Annecy,formation sélective,...,2_Lycées,8844,CPGE - MPSI,NaN,https://dossier.parcoursup.fr/Candidat/carte?g...,100.0,0.0,0.0,NaN,NaN
13393,2021,Public,0740005D,Lycée Gabriel Fauré,74,Haute-Savoie,Auvergne-Rhône-Alpes,Grenoble,Annecy,formation sélective,...,3_Autres formations,8854,Diplôme de Comptabilité et de Gestion,NaN,https://dossier.parcoursup.fr/Candidat/carte?g...,58.0,42.0,0.0,NaN,NaN
13394,2021,Public,0740006E,Lycée Louis Lachenal,74,Haute-Savoie,Auvergne-Rhône-Alpes,Grenoble,Argonay,formation sélective,...,2_Lycées,8859,BTS - Production - Systèmes constructifs bois ...,NaN,https://dossier.parcoursup.fr/Candidat/carte?g...,5.0,50.0,45.0,NaN,NaN
13395,2021,Public,0740051D,Lycée Anna de Noailles,74,Haute-Savoie,Auvergne-Rhône-Alpes,Grenoble,Evian-les-Bains,formation sélective,...,2_Lycées,8879,BTS - Services - Tourisme,NaN,https://dossier.parcoursup.fr/Candidat/carte?g...,22.0,37.0,41.0,NaN,NaN

In [23]:
liste_de_filiere = list(df["Filière de formation"].unique())


df_moyenne_pro = pd.DataFrame(columns = ["filiere","moyenne"])
df_moyenne_techno = pd.DataFrame(columns = ["filiere","moyenne"])
df_moyenne_general = pd.DataFrame(columns = ["filiere","moyenne"])

def moyenne_filiere(dff,colonne):
    i = 0
    for filiere in liste_de_filiere:
        
        dfi = df[df["Filière de formation"]==filiere]
        a = dfi[[colonne,"Filière de formation"]]
        moyenne = a[colonne].mean()
        
        df2 = pd.DataFrame({"filiere":filiere,"moyenne":moyenne},index = [i])     
        
        dff = pd.concat([dff,df2])
        i+=1
    return dff
moyenne_filiere(df_moyenne_pro,r"% d’admis néo bacheliers professionnels")
moyenne_filiere(df_moyenne_general,r"% d’admis néo bacheliers généraux")
moyenne_filiere(df_moyenne_techno,r"% d’admis néo bacheliers technologiques")

                                              filiere     moyenne
0                                                 DCG    0.471680
1                                      BTS - Services   39.909195
2                                      BTS - Agricole   44.218150
3                                    BUT - Production    1.085913
4       Classe préparatoire économique et commerciale    0.645161
5                    Classe préparatoire scientifique    0.823045
6                      Classe préparatoire littéraire    0.000000
7                                    BTS - Production   54.088952
8             Licence - Sciences humaines et sociales    5.278752
9                    Licence - Droit-économie-gestion    3.482966
10                     Licence - Arts-lettres-langues   10.020383
11               CUPGE - Sciences, technologie, santé    0.000000
12                                      BUT - Service    2.862671
13                                 Formations Bac + 5    3.280945
14          Licence - Sciences - technologies - santé    1.526135
15                              D.E secteur sanitaire   15.530193
16                Formations  des écoles d'ingénieurs    0.169685
17                                      Mise à niveau   18.122526
18  Licence - Droit-économie-gestion / Arts-lettre...    0.299988
19                                 Année préparatoire    9.351974
20                             Diplôme National d'Art    6.399693
21  Formation des écoles de commerce et de management    2.473823
22                             Mention complémentaire   83.292677
23                          Formation professionnelle    5.949951
24                     CUPGE - Droit-économie-gestion    0.000000
25                C.M.I - Cursus Master en Ingénierie    0.000000
26                       CUPGE - Arts Lettres Langues    0.000000
27  Licence - Droit-économie-gestion / Sciences hu...    0.000000
28         Classe préparatoire aux études supérieures    4.006445
29                                              DEUST   15.412364
30                                             BPJEPS   20.525090
31                                            DN MADE   10.173362
32                                 D.E secteur social   23.994689
33                            Diplôme d'établissement    9.099609
34  Licence - Sciences humaines et sociales / Scie...    0.000000
35                               Diplôme d'Université   26.335842
36  Licence - Arts-lettres-langues / Sciences huma...    2.849609
37                                               CPES    0.000000
38                                             DEJEPS   33.296875
39                                    Cadre Technique    5.000000
40                            Diplôme d'Etablissement    3.166341
41                                     BTS - Maritime  100.000000
42                                Sciences politiques    0.000000
43              Formation des écoles supérieure d'art    4.989697
44                                    Licence - STAPS    2.466580
45      Formations des écoles nationales vétérinaires    0.000000
46                  Formation valant grade de licence    0.000000
47        Formation des écoles supérieures de cuisine    1.059961
48                                 Formations Bac + 3    0.500000
49                        LP - Droit-économie-gestion    4.799805

                                              filiere     moyenne
0                                                 DCG   69.551518
1                                      BTS - Services   20.402884
2                                      BTS - Agricole   22.699439
3                                    BUT - Production   62.345994
4       Classe préparatoire économique et commerciale   89.545060
5                    Classe préparatoire scientifique   87.096644
6                      Classe préparatoire littéraire   99.711779
7                                    BTS - Production   11.563990
8             Licence - Sciences humaines et sociales   81.288577
9                    Licence - Droit-économie-gestion   86.751617
10                     Licence - Arts-lettres-langues   76.674302
11               CUPGE - Sciences, technologie, santé  100.000000
12                                      BUT - Service   52.633914
13                                 Formations Bac + 5   87.719727
14          Licence - Sciences - technologies - santé   91.369677
15                              D.E secteur sanitaire   51.126332
16                Formations  des écoles d'ingénieurs   78.935268
17                                      Mise à niveau   55.402214
18  Licence - Droit-économie-gestion / Arts-lettre...   98.500000
19                                 Année préparatoire   65.029502
20                             Diplôme National d'Art   85.238839
21  Formation des écoles de commerce et de management   85.805990
22                             Mention complémentaire    4.735324
23                          Formation professionnelle   58.332520
24                     CUPGE - Droit-économie-gestion  100.000000
25                C.M.I - Cursus Master en Ingénierie  100.000000
26                       CUPGE - Arts Lettres Langues  100.000000
27  Licence - Droit-économie-gestion / Sciences hu...  100.000000
28         Classe préparatoire aux études supérieures   82.370378
29                                              DEUST   56.679857
30                                             BPJEPS   55.810998
31                                            DN MADE   47.346737
32                                 D.E secteur social   42.053008
33                            Diplôme d'établissement   81.796875
34  Licence - Sciences humaines et sociales / Scie...   94.687500
35                               Diplôme d'Université   47.226801
36  Licence - Arts-lettres-langues / Sciences huma...   91.445312
37                                               CPES  100.000000
38                                             DEJEPS   33.296875
39                                    Cadre Technique   90.000000
40                            Diplôme d'Etablissement   74.007812
41                                     BTS - Maritime    0.000000
42                                Sciences politiques   99.855469
43              Formation des écoles supérieure d'art   75.095313
44                                    Licence - STAPS   88.505208
45      Formations des écoles nationales vétérinaires  100.000000
46                  Formation valant grade de licence  100.000000
47        Formation des écoles supérieures de cuisine   89.593750
48                                 Formations Bac + 3   95.187500
49                        LP - Droit-économie-gestion   81.000000

                                              filiere    moyenne
0                                                 DCG  29.967921
1                                      BTS - Services  39.684622
2                                      BTS - Agricole  33.078139
3                                    BUT - Production  36.562072
4       Classe préparatoire économique et commerciale   9.809668
5                    Classe préparatoire scientifique  12.080233
6                      Classe préparatoire littéraire   0.287669
7                                    BTS - Production  34.344784
8             Licence - Sciences humaines et sociales  13.432476
9                    Licence - Droit-économie-gestion   9.762556
10                     Licence - Arts-lettres-langues  13.304729
11               CUPGE - Sciences, technologie, santé   0.000000
12                                      BUT - Service  44.496019
13                                 Formations Bac + 5   8.993286
14          Licence - Sciences - technologies - santé   7.100994
15                              D.E secteur sanitaire  33.336374
16                Formations  des écoles d'ingénieurs  20.894261
17                                      Mise à niveau  26.475130
18  Licence - Droit-économie-gestion / Arts-lettre...   1.199951
19                                 Année préparatoire  25.636359
20                             Diplôme National d'Art   8.371094
21  Formation des écoles de commerce et de management  11.716929
22                             Mention complémentaire  11.969699
23                          Formation professionnelle  35.723022
24                     CUPGE - Droit-économie-gestion   0.000000
25                C.M.I - Cursus Master en Ingénierie   0.000000
26                       CUPGE - Arts Lettres Langues   0.000000
27  Licence - Droit-économie-gestion / Sciences hu...   0.000000
28         Classe préparatoire aux études supérieures  13.619206
29                                              DEUST  27.889436
30                                             BPJEPS  23.663211
31                                            DN MADE  42.476167
32                                 D.E secteur social  33.955506
33                            Diplôme d'établissement   9.099609
34  Licence - Sciences humaines et sociales / Scie...   5.299805
35                               Diplôme d'Université  26.435356
36  Licence - Arts-lettres-langues / Sciences huma...   5.699219
37                                               CPES   0.000000
38                                             DEJEPS  33.296875
39                                    Cadre Technique   5.000000
40                            Diplôme d'Etablissement  22.821181
41                                     BTS - Maritime   0.000000
42                                Sciences politiques   0.143738
43              Formation des écoles supérieure d'art  19.938770
44                                    Licence - STAPS   9.010091
45      Formations des écoles nationales vétérinaires   0.000000
46                  Formation valant grade de licence   0.000000
47        Formation des écoles supérieures de cuisine   9.339453
48                                 Formations Bac + 3   4.299805
49                        LP - Droit-économie-gestion  14.298828

In [34]:
def moyenne_gen_pro_tech(filiere):
    df_prepa = df[df["Filière de formation"]==filiere]
    df_prepa = df_prepa[["Filière de formation","Effectif des admis néo bacheliers généraux","Effectif des admis néo bacheliers technologiques","Effectif des admis néo bacheliers professionnels",r"% d’admis néo bacheliers généraux",r"% d’admis néo bacheliers professionnels",r"% d’admis néo bacheliers technologiques"]]
    print(display(df_prepa))
    return df_prepa

for fil in liste_de_filiere:
    moyenne_gen_pro_tech(fil)

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
0,DCG,7,9,0,43.796875,0.000000,56.296875
100,DCG,21,16,0,56.796875,0.000000,43.195312
185,DCG,17,7,0,70.796875,0.000000,29.199219
221,DCG,20,16,0,55.593750,0.000000,44.398438
386,DCG,8,2,0,80.000000,0.000000,20.000000
395,DCG,19,7,0,73.093750,0.000000,26.898438
437,DCG,4,3,0,57.093750,0.000000,42.898438
567,DCG,21,8,0,72.390625,0.000000,27.597656
661,DCG,19,4,0,82.593750,0.000000,17.398438
792,DCG,4,4,1,44.398438,11.099609,44.398438
1137,DCG,17,10,0,63.000000,0.000000,37.000000
1184,DCG,13,9,1,56.500000,4.299805,39.093750
1245,DCG,12,2,0,85.687500,0.000000,14.298828
1318,DCG,17,15,0,53.093750,0.000000,46.898438
1386,DCG,9,3,0,75.000000,0.000000,25.000000
1403,DCG,12,19,0,38.695312,0.000000,61.296875
1445,DCG,16,1,0,94.093750,0.000000,5.899414
1462,DCG,13,12,0,52.000000,0.000000,48.000000
1514,DCG,14,9,0,60.898438,0.000000,39.093750
1572,DCG,14,4,0,77.796875,0.000000,22.199219
1731,DCG,2,0,0,100.000000,0.000000,0.000000
2236,DCG,16,6,0,72.687500,0.000000,27.296875
2244,DCG,11,2,0,84.593750,0.000000,15.398438
2267,DCG,14,5,0,73.687500,0.000000,26.296875
2368,DCG,19,9,0,67.890625,0.000000,32.093750
2402,DCG,29,0,0,100.000000,0.000000,0.000000
2448,DCG,3,14,0,17.597656,0.000000,82.390625
2494,DCG,11,18,0,37.898438,0.000000,62.093750
2540,DCG,15,7,0,68.187500,0.000000,31.796875
2565,DCG,16,14,0,53.296875,0.000000,46.695312
2665,DCG,14,4,0,77.796875,0.000000,22.199219
2695,DCG,12,4,0,75.000000,0.000000,25.000000
3527,DCG,20,1,0,95.187500,0.000000,4.799805
3583,DCG,13,6,0,68.390625,0.000000,31.597656
3616,DCG,17,1,0,94.390625,0.000000,5.599609
3634,DCG,17,8,0,68.000000,0.000000,32.000000
3705,DCG,20,1,0,95.187500,0.000000,4.799805
3886,DCG,13,4,1,72.187500,5.599609,22.199219
4045,DCG,12,4,0,75.000000,0.000000,25.000000
4058,DCG,25,10,0,71.390625,0.000000,28.597656
4115,DCG,31,12,0,72.093750,0.000000,27.898438
4197,DCG,19,10,0,65.500000,0.000000,34.500000
4312,DCG,17,10,0,63.000000,0.000000,37.000000
4357,DCG,25,12,0,67.593750,0.000000,32.398438
4579,DCG,12,7,0,63.195312,0.000000,36.796875
4582,DCG,13,11,1,52.000000,4.000000,44.000000
4620,DCG,24,2,0,92.296875,0.000000,7.699219
4694,DCG,20,10,0,66.687500,0.000000,33.296875
4737,DCG,11,4,0,73.296875,0.000000,26.699219
5566,DCG,22,7,0,75.890625,0.000000,24.097656
5635,DCG,21,1,0,95.500000,0.000000,4.500000
5747,DCG,17,7,0,70.796875,0.000000,29.199219
5812,DCG,24,12,0,66.687500,0.000000,33.296875

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
1,BTS - Services,8,6,0,57.093750,0.000000,42.898438
4,BTS - Services,2,2,4,25.000000,50.000000,25.000000
10,BTS - Services,1,11,9,4.799805,42.898438,52.398438
12,BTS - Services,1,3,2,16.699219,33.296875,50.000000
13,BTS - Services,3,7,2,25.000000,16.699219,58.296875
...,...,...,...,...,...,...,...
6567,BTS - Services,0,3,1,0.000000,25.000000,75.000000
6569,BTS - Services,1,2,10,7.699219,76.890625,15.398438
6571,BTS - Services,5,12,2,26.296875,10.500000,63.195312
6572,BTS - Services,0,8,7,0.000000,46.695312,53.296875
6573,BTS - Services,0,6,9,0.000000,60.000000,40.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
2,BTS - Agricole,2,9,2,15.398438,15.398438,69.187500
3,BTS - Agricole,10,8,7,40.000000,28.000000,32.000000
135,BTS - Agricole,0,3,2,0.000000,40.000000,60.000000
156,BTS - Agricole,3,4,6,23.097656,46.195312,30.796875
176,BTS - Agricole,9,5,7,42.898438,33.296875,23.796875
...,...,...,...,...,...,...,...
6155,BTS - Agricole,1,1,11,7.699219,84.593750,7.699219
6246,BTS - Agricole,8,1,0,88.890625,0.000000,11.099609
6286,BTS - Agricole,0,0,8,0.000000,100.000000,0.000000
6493,BTS - Agricole,0,0,3,0.000000,100.000000,0.000000
6496,BTS - Agricole,0,1,5,0.000000,83.296875,16.699219

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
5,BUT - Production,40,43,0,48.195312,0.0,51.796875
6,BUT - Production,35,23,0,60.296875,0.0,39.695312
7,BUT - Production,44,24,0,64.687500,0.0,35.296875
8,BUT - Production,5,2,0,71.390625,0.0,28.597656
9,BUT - Production,12,2,0,85.687500,0.0,14.298828
...,...,...,...,...,...,...,...
6126,BUT - Production,13,17,0,43.296875,0.0,56.695312
6128,BUT - Production,15,5,0,75.000000,0.0,25.000000
6134,BUT - Production,36,19,0,65.500000,0.0,34.500000
6135,BUT - Production,33,3,0,91.687500,0.0,8.298828
6153,BUT - Production,13,5,0,72.187500,0.0,27.796875

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
11,Classe préparatoire économique et commerciale,48,0,0,100.000000,0.0,0.000000
35,Classe préparatoire économique et commerciale,0,47,0,0.000000,0.0,100.000000
319,Classe préparatoire économique et commerciale,45,1,0,97.796875,0.0,2.199707
320,Classe préparatoire économique et commerciale,21,0,0,100.000000,0.0,0.000000
614,Classe préparatoire économique et commerciale,0,11,0,0.000000,0.0,100.000000
...,...,...,...,...,...,...,...
5606,Classe préparatoire économique et commerciale,15,0,0,100.000000,0.0,0.000000
5610,Classe préparatoire économique et commerciale,0,0,22,0.000000,100.0,0.000000
5809,Classe préparatoire économique et commerciale,35,0,0,100.000000,0.0,0.000000
5840,Classe préparatoire économique et commerciale,47,0,0,100.000000,0.0,0.000000
5870,Classe préparatoire économique et commerciale,47,0,0,100.000000,0.0,0.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
15,Classe préparatoire scientifique,47,0,0,100.0,0.0,0.0
17,Classe préparatoire scientifique,91,0,0,100.0,0.0,0.0
18,Classe préparatoire scientifique,47,0,0,100.0,0.0,0.0
19,Classe préparatoire scientifique,45,0,0,100.0,0.0,0.0
22,Classe préparatoire scientifique,39,0,0,100.0,0.0,0.0
...,...,...,...,...,...,...,...
6095,Classe préparatoire scientifique,75,0,0,100.0,0.0,0.0
6116,Classe préparatoire scientifique,40,0,0,100.0,0.0,0.0
6121,Classe préparatoire scientifique,0,45,0,0.0,0.0,100.0
6129,Classe préparatoire scientifique,90,0,0,100.0,0.0,0.0
6565,Classe préparatoire scientifique,5,0,0,100.0,0.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
16,Classe préparatoire littéraire,48,0,0,100.0,0.0,0.0
81,Classe préparatoire littéraire,75,0,0,100.0,0.0,0.0
165,Classe préparatoire littéraire,20,0,0,100.0,0.0,0.0
247,Classe préparatoire littéraire,39,0,0,100.0,0.0,0.0
254,Classe préparatoire littéraire,37,0,0,100.0,0.0,0.0
...,...,...,...,...,...,...,...
5803,Classe préparatoire littéraire,48,0,0,100.0,0.0,0.0
5837,Classe préparatoire littéraire,90,0,0,100.0,0.0,0.0
5838,Classe préparatoire littéraire,77,0,0,100.0,0.0,0.0
5868,Classe préparatoire littéraire,89,0,0,100.0,0.0,0.0
5932,Classe préparatoire littéraire,83,0,0,100.0,0.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
23,BTS - Production,2,4,6,16.699219,50.000000,33.296875
25,BTS - Production,7,4,12,30.398438,52.195312,17.398438
27,BTS - Production,22,22,3,46.796875,6.399414,46.796875
30,BTS - Production,1,2,9,8.298828,75.000000,16.699219
32,BTS - Production,10,6,3,52.593750,15.798828,31.597656
...,...,...,...,...,...,...,...
6298,BTS - Production,0,1,14,0.000000,93.296875,6.699219
6450,BTS - Production,1,1,6,12.500000,75.000000,12.500000
6504,BTS - Production,2,4,2,25.000000,25.000000,50.000000
6550,BTS - Production,0,2,8,0.000000,80.000000,20.000000
6560,BTS - Production,5,4,0,55.593750,0.000000,44.398438

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
43,Licence - Sciences humaines et sociales,200,9,5,93.500000,2.299805,4.199219
54,Licence - Sciences humaines et sociales,101,30,5,74.296875,3.699707,22.097656
55,Licence - Sciences humaines et sociales,59,8,0,88.093750,0.000000,11.898438
76,Licence - Sciences humaines et sociales,116,14,2,87.890625,1.500000,10.599609
116,Licence - Sciences humaines et sociales,38,12,3,71.687500,5.699219,22.597656
...,...,...,...,...,...,...,...
6487,Licence - Sciences humaines et sociales,59,9,4,81.890625,5.599609,12.500000
6491,Licence - Sciences humaines et sociales,13,1,1,86.687500,6.699219,6.699219
6544,Licence - Sciences humaines et sociales,20,5,2,74.093750,7.399414,18.500000
6549,Licence - Sciences humaines et sociales,8,1,0,88.890625,0.000000,11.099609
6588,Licence - Sciences humaines et sociales,25,2,0,92.593750,0.000000,7.399414

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
44,Licence - Droit-économie-gestion,48,0,0,100.000000,0.000000,0.000000
115,Licence - Droit-économie-gestion,139,24,15,78.093750,8.398438,13.500000
148,Licence - Droit-économie-gestion,162,13,0,92.593750,0.000000,7.399414
149,Licence - Droit-économie-gestion,524,12,0,97.796875,0.000000,2.199707
191,Licence - Droit-économie-gestion,401,62,9,85.000000,1.899902,13.099609
...,...,...,...,...,...,...,...
6522,Licence - Droit-économie-gestion,5,0,0,100.000000,0.000000,0.000000
6562,Licence - Droit-économie-gestion,19,5,1,76.000000,4.000000,20.000000
6564,Licence - Droit-économie-gestion,8,4,2,57.093750,14.298828,28.597656
6584,Licence - Droit-économie-gestion,6,0,0,100.000000,0.000000,0.000000
6607,Licence - Droit-économie-gestion,47,0,2,95.890625,4.099609,0.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
45,Licence - Arts-lettres-langues,168,13,23,82.390625,11.298828,6.399414
46,Licence - Arts-lettres-langues,18,1,2,85.687500,9.500000,4.799805
47,Licence - Arts-lettres-langues,46,4,2,88.500000,3.799805,7.699219
48,Licence - Arts-lettres-langues,6,1,1,75.000000,12.500000,12.500000
49,Licence - Arts-lettres-langues,121,10,7,87.687500,5.099609,7.199219
...,...,...,...,...,...,...,...
6541,Licence - Arts-lettres-langues,5,1,0,83.296875,0.000000,16.699219
6589,Licence - Arts-lettres-langues,29,4,1,85.296875,2.899902,11.798828
6590,Licence - Arts-lettres-langues,30,7,11,62.500000,22.898438,14.599609
6591,Licence - Arts-lettres-langues,8,8,5,38.093750,23.796875,38.093750
6592,Licence - Arts-lettres-langues,0,0,1,0.000000,100.000000,0.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
56,"CUPGE - Sciences, technologie, santé",58,0,0,100.0,0.0,0.0
647,"CUPGE - Sciences, technologie, santé",30,0,0,100.0,0.0,0.0
759,"CUPGE - Sciences, technologie, santé",13,0,0,100.0,0.0,0.0
1533,"CUPGE - Sciences, technologie, santé",14,0,0,100.0,0.0,0.0
1581,"CUPGE - Sciences, technologie, santé",17,0,0,100.0,0.0,0.0
1609,"CUPGE - Sciences, technologie, santé",1,0,0,100.0,0.0,0.0
1614,"CUPGE - Sciences, technologie, santé",9,0,0,100.0,0.0,0.0
4684,"CUPGE - Sciences, technologie, santé",13,0,0,100.0,0.0,0.0
5624,"CUPGE - Sciences, technologie, santé",14,0,0,100.0,0.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
90,BUT - Service,14,22,1,37.796875,2.699707,59.500000
91,BUT - Service,16,10,0,61.500000,0.000000,38.500000
92,BUT - Service,28,18,0,60.898438,0.000000,39.093750
104,BUT - Service,62,72,2,45.593750,1.500000,52.898438
105,BUT - Service,72,75,0,49.000000,0.000000,51.000000
...,...,...,...,...,...,...,...
6038,BUT - Service,66,66,0,50.000000,0.000000,50.000000
6100,BUT - Service,69,68,4,48.898438,2.799805,48.195312
6125,BUT - Service,99,49,2,66.000000,1.299805,32.695312
6207,BUT - Service,10,4,2,62.500000,12.500000,25.000000
6288,BUT - Service,12,11,0,52.195312,0.000000,47.796875

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
102,Formations Bac + 5,81,7,8,84.390625,8.298828,7.299805
158,Formations Bac + 5,86,4,4,91.500000,4.299805,4.299805
458,Formations Bac + 5,26,6,2,76.500000,5.899414,17.597656
703,Formations Bac + 5,18,3,1,81.796875,4.500000,13.599609
1141,Formations Bac + 5,128,7,4,92.093750,2.899902,5.000000
1203,Formations Bac + 5,74,5,3,90.187500,3.699707,6.099609
1560,Formations Bac + 5,39,0,0,100.000000,0.000000,0.000000
1762,Formations Bac + 5,10,0,0,100.000000,0.000000,0.000000
2453,Formations Bac + 5,72,10,4,83.687500,4.699219,11.599609
2535,Formations Bac + 5,11,3,0,78.593750,0.000000,21.398438
2927,Formations Bac + 5,16,2,0,88.890625,0.000000,11.099609
3882,Formations Bac + 5,90,13,8,81.093750,7.199219,11.699219
4140,Formations Bac + 5,68,12,3,81.890625,3.599609,14.500000
4495,Formations Bac + 5,94,3,3,94.000000,3.000000,3.000000
5100,Formations Bac + 5,0,0,0,NaN,NaN,NaN
5101,Formations Bac + 5,0,0,0,NaN,NaN,NaN
5102,Formations Bac + 5,0,0,0,NaN,NaN,NaN
5103,Formations Bac + 5,0,0,0,NaN,NaN,NaN
5993,Formations Bac + 5,90,19,5,78.890625,4.399414,16.699219
6452,Formations Bac + 5,0,0,0,NaN,NaN,NaN
6453,Formations Bac + 5,0,0,0,NaN,NaN,NaN
6552,Formations Bac + 5,19,0,0,100.000000,0.000000,0.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
118,Licence - Sciences - technologies - santé,56,4,0,93.296875,0.000000,6.699219
152,Licence - Sciences - technologies - santé,59,7,1,88.093750,1.500000,10.398438
153,Licence - Sciences - technologies - santé,33,0,0,100.000000,0.000000,0.000000
159,Licence - Sciences - technologies - santé,223,2,0,99.093750,0.000000,0.899902
188,Licence - Sciences - technologies - santé,83,17,2,81.390625,2.000000,16.699219
...,...,...,...,...,...,...,...
6600,Licence - Sciences - technologies - santé,21,2,0,91.296875,0.000000,8.699219
6601,Licence - Sciences - technologies - santé,18,3,0,85.687500,0.000000,14.298828
6603,Licence - Sciences - technologies - santé,43,2,0,95.593750,0.000000,4.399414
6604,Licence - Sciences - technologies - santé,321,66,18,79.296875,4.399414,16.296875
6605,Licence - Sciences - technologies - santé,141,33,9,77.000000,4.899414,18.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
122,D.E secteur sanitaire,4,5,0,44.398438,0.000000,55.593750
255,D.E secteur sanitaire,2,10,0,16.699219,0.000000,83.296875
464,D.E secteur sanitaire,9,6,0,60.000000,0.000000,40.000000
715,D.E secteur sanitaire,4,4,0,50.000000,0.000000,50.000000
744,D.E secteur sanitaire,8,11,0,42.093750,0.000000,57.898438
...,...,...,...,...,...,...,...
6435,D.E secteur sanitaire,20,7,0,74.093750,0.000000,25.898438
6441,D.E secteur sanitaire,13,22,9,29.500000,20.500000,50.000000
6477,D.E secteur sanitaire,50,0,0,100.000000,0.000000,0.000000
6515,D.E secteur sanitaire,10,13,10,30.296875,30.296875,39.398438
6520,D.E secteur sanitaire,2,2,12,12.500000,75.000000,12.500000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
123,Formations des écoles d'ingénieurs,5,0,0,100.0,0.0,0.0
533,Formations des écoles d'ingénieurs,0,24,0,0.0,0.0,100.0
760,Formations des écoles d'ingénieurs,39,1,0,97.5,0.0,2.5
919,Formations des écoles d'ingénieurs,99,0,0,100.0,0.0,0.0
924,Formations des écoles d'ingénieurs,57,0,0,100.0,0.0,0.0
...,...,...,...,...,...,...,...
6526,Formations des écoles d'ingénieurs,19,0,0,100.0,0.0,0.0
6527,Formations des écoles d'ingénieurs,0,24,0,0.0,0.0,100.0
6528,Formations des écoles d'ingénieurs,0,0,0,NaN,NaN,NaN
6586,Formations des écoles d'ingénieurs,0,0,0,NaN,NaN,NaN
6587,Formations des écoles d'ingénieurs,14,2,0,87.5,0.0,12.5

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
219,Mise à niveau,7,5,2,50.000000,14.298828,35.695312
268,Mise à niveau,3,1,0,75.000000,0.000000,25.000000
439,Mise à niveau,1,6,6,7.699219,46.195312,46.195312
824,Mise à niveau,6,3,0,66.687500,0.000000,33.296875
1087,Mise à niveau,20,11,0,64.500000,0.000000,35.500000
1139,Mise à niveau,8,2,1,72.687500,9.099609,18.199219
1189,Mise à niveau,6,7,4,35.296875,23.500000,41.195312
1330,Mise à niveau,0,3,2,0.000000,40.000000,60.000000
1363,Mise à niveau,8,4,1,61.500000,7.699219,30.796875
1390,Mise à niveau,5,1,1,71.390625,14.298828,14.298828
1483,Mise à niveau,9,7,1,52.898438,5.899414,41.195312
1667,Mise à niveau,8,2,2,66.687500,16.699219,16.699219
2095,Mise à niveau,3,1,2,50.000000,33.296875,16.699219
2112,Mise à niveau,19,5,0,79.187500,0.000000,20.796875
2134,Mise à niveau,3,1,1,60.000000,20.000000,20.000000
2183,Mise à niveau,21,6,3,70.000000,10.000000,20.000000
2199,Mise à niveau,11,3,1,73.296875,6.699219,20.000000
2519,Mise à niveau,5,2,4,45.500000,36.398438,18.199219
3574,Mise à niveau,1,0,1,50.000000,50.000000,0.000000
3805,Mise à niveau,0,0,1,0.000000,100.000000,0.000000
3944,Mise à niveau,15,7,1,65.187500,4.299805,30.398438
4031,Mise à niveau,9,2,4,60.000000,26.699219,13.298828
4162,Mise à niveau,20,7,0,74.093750,0.000000,25.898438
4317,Mise à niveau,0,0,0,NaN,NaN,NaN
4622,Mise à niveau,11,6,1,61.093750,5.599609,33.296875
4640,Mise à niveau,5,7,1,38.500000,7.699219,53.796875
4648,Mise à niveau,27,8,4,69.187500,10.298828,20.500000
4908,Mise à niveau,4,3,5,33.296875,41.695312,25.000000
5935,Mise à niveau,18,6,0,75.000000,0.000000,25.000000
5957,Mise à niveau,6,3,0,66.687500,0.000000,33.296875
5995,Mise à niveau,10,3,2,66.687500,13.298828,20.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
243,Licence - Droit-économie-gestion / Arts-lettre...,161,4,1,97.0,0.599976,2.399902
3236,Licence - Droit-économie-gestion / Arts-lettre...,18,0,0,100.0,0.000000,0.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
296,Année préparatoire,50,32,0,61.000000,0.000000,39.000000
754,Année préparatoire,35,0,0,100.000000,0.000000,0.000000
913,Année préparatoire,6,3,7,37.500000,43.796875,18.796875
1268,Année préparatoire,25,0,0,100.000000,0.000000,0.000000
1519,Année préparatoire,3,15,80,3.099609,81.593750,15.298828
1566,Année préparatoire,47,1,0,97.890625,0.000000,2.099609
1715,Année préparatoire,22,2,1,88.000000,4.000000,8.000000
2285,Année préparatoire,14,2,0,87.500000,0.000000,12.500000
3142,Année préparatoire,21,0,0,100.000000,0.000000,0.000000
3359,Année préparatoire,3,1,0,75.000000,0.000000,25.000000
3679,Année préparatoire,11,33,8,21.199219,15.398438,63.500000
3999,Année préparatoire,15,1,0,93.796875,0.000000,6.299805
4085,Année préparatoire,6,13,2,28.597656,9.500000,61.898438
5232,Année préparatoire,6,5,2,46.195312,15.398438,38.500000
6039,Année préparatoire,15,8,2,60.000000,8.000000,32.000000
6040,Année préparatoire,0,1,0,0.000000,0.000000,100.000000
6509,Année préparatoire,16,2,0,88.890625,0.000000,11.099609
6553,Année préparatoire,14,8,0,63.593750,0.000000,36.398438
6602,Année préparatoire,5,1,0,83.296875,0.000000,16.699219

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
470,Diplôme National d'Art,11,4,2,64.687500,11.798828,23.500000
748,Diplôme National d'Art,18,2,0,90.000000,0.000000,10.000000
2918,Diplôme National d'Art,3,0,0,100.000000,0.000000,0.000000
4898,Diplôme National d'Art,9,2,4,60.000000,26.699219,13.298828
5158,Diplôme National d'Art,15,0,1,93.796875,6.299805,0.000000
6259,Diplôme National d'Art,15,2,0,88.187500,0.000000,11.798828
6320,Diplôme National d'Art,6,0,0,100.000000,0.000000,0.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
471,Formation des écoles de commerce et de management,4,0,1,80.000000,20.000000,0.000000
472,Formation des écoles de commerce et de management,3,0,3,50.000000,50.000000,0.000000
1033,Formation des écoles de commerce et de management,11,2,1,78.593750,7.099609,14.298828
1034,Formation des écoles de commerce et de management,24,7,0,77.390625,0.000000,22.597656
1500,Formation des écoles de commerce et de management,16,4,0,80.000000,0.000000,20.000000
...,...,...,...,...,...,...,...
6329,Formation des écoles de commerce et de management,386,31,0,92.593750,0.000000,7.399414
6330,Formation des écoles de commerce et de management,73,19,1,78.500000,1.099854,20.398438
6462,Formation des écoles de commerce et de management,15,0,0,100.000000,0.000000,0.000000
6499,Formation des écoles de commerce et de management,12,0,0,100.000000,0.000000,0.000000
6546,Formation des écoles de commerce et de management,5,0,0,100.000000,0.000000,0.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
473,Mention complémentaire,0,0,12,0.0,100.00000,0.000000
518,Mention complémentaire,0,0,7,0.0,100.00000,0.000000
521,Mention complémentaire,0,0,5,0.0,100.00000,0.000000
522,Mention complémentaire,0,0,11,0.0,100.00000,0.000000
524,Mention complémentaire,0,0,4,0.0,100.00000,0.000000
...,...,...,...,...,...,...,...
6580,Mention complémentaire,0,0,0,NaN,NaN,NaN
6581,Mention complémentaire,0,2,13,0.0,86.68750,13.298828
6582,Mention complémentaire,0,0,13,0.0,100.00000,0.000000
6583,Mention complémentaire,0,0,3,0.0,100.00000,0.000000
6606,Mention complémentaire,0,2,11,0.0,84.59375,15.398438

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
475,Formation professionnelle,9,2,0,81.796875,0.000000,18.199219
538,Formation professionnelle,7,3,0,70.000000,0.000000,30.000000
710,Formation professionnelle,0,3,0,0.000000,0.000000,100.000000
711,Formation professionnelle,0,0,0,NaN,NaN,NaN
837,Formation professionnelle,10,0,1,90.890625,9.099609,0.000000
1529,Formation professionnelle,2,4,0,33.296875,0.000000,66.687500
1774,Formation professionnelle,3,5,5,23.097656,38.500000,38.500000
3143,Formation professionnelle,0,0,0,NaN,NaN,NaN
3169,Formation professionnelle,50,2,0,96.187500,0.000000,3.799805
3306,Formation professionnelle,5,2,0,71.390625,0.000000,28.597656

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
490,CUPGE - Droit-économie-gestion,82,0,0,100.0,0.0,0.0
491,CUPGE - Droit-économie-gestion,93,0,0,100.0,0.0,0.0
3176,CUPGE - Droit-économie-gestion,45,0,0,100.0,0.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
551,C.M.I - Cursus Master en Ingénierie,32,0,0,100.0,0.0,0.0
579,C.M.I - Cursus Master en Ingénierie,10,0,0,100.0,0.0,0.0
596,C.M.I - Cursus Master en Ingénierie,9,0,0,100.0,0.0,0.0
597,C.M.I - Cursus Master en Ingénierie,3,0,0,100.0,0.0,0.0
613,C.M.I - Cursus Master en Ingénierie,9,0,0,100.0,0.0,0.0
632,C.M.I - Cursus Master en Ingénierie,8,0,0,100.0,0.0,0.0
635,C.M.I - Cursus Master en Ingénierie,13,0,0,100.0,0.0,0.0
640,C.M.I - Cursus Master en Ingénierie,29,0,0,100.0,0.0,0.0
665,C.M.I - Cursus Master en Ingénierie,19,0,0,100.0,0.0,0.0
683,C.M.I - Cursus Master en Ingénierie,12,0,0,100.0,0.0,0.0
696,C.M.I - Cursus Master en Ingénierie,6,0,0,100.0,0.0,0.0
698,C.M.I - Cursus Master en Ingénierie,17,0,0,100.0,0.0,0.0
728,C.M.I - Cursus Master en Ingénierie,4,0,0,100.0,0.0,0.0
739,C.M.I - Cursus Master en Ingénierie,12,0,0,100.0,0.0,0.0
747,C.M.I - Cursus Master en Ingénierie,10,0,0,100.0,0.0,0.0
839,C.M.I - Cursus Master en Ingénierie,9,0,0,100.0,0.0,0.0
840,C.M.I - Cursus Master en Ingénierie,0,0,0,NaN,NaN,NaN
841,C.M.I - Cursus Master en Ingénierie,3,0,0,100.0,0.0,0.0
1006,C.M.I - Cursus Master en Ingénierie,5,0,0,100.0,0.0,0.0
1598,C.M.I - Cursus Master en Ingénierie,6,0,0,100.0,0.0,0.0
1619,C.M.I - Cursus Master en Ingénierie,15,0,0,100.0,0.0,0.0
1664,C.M.I - Cursus Master en Ingénierie,14,0,0,100.0,0.0,0.0
1711,C.M.I - Cursus Master en Ingénierie,9,0,0,100.0,0.0,0.0
1712,C.M.I - Cursus Master en Ingénierie,9,0,0,100.0,0.0,0.0
1781,C.M.I - Cursus Master en Ingénierie,5,0,0,100.0,0.0,0.0
1840,C.M.I - Cursus Master en Ingénierie,13,0,0,100.0,0.0,0.0
1841,C.M.I - Cursus Master en Ingénierie,4,0,0,100.0,0.0,0.0
5145,C.M.I - Cursus Master en Ingénierie,3,0,0,100.0,0.0,0.0
5156,C.M.I - Cursus Master en Ingénierie,6,0,0,100.0,0.0,0.0
5157,C.M.I - Cursus Master en Ingénierie,7,0,0,100.0,0.0,0.0
5433,C.M.I - Cursus Master en Ingénierie,11,0,0,100.0,0.0,0.0
6505,C.M.I - Cursus Master en Ingénierie,11,0,0,100.0,0.0,0.0
6506,C.M.I - Cursus Master en Ingénierie,2,0,0,100.0,0.0,0.0
6510,C.M.I - Cursus Master en Ingénierie,8,0,0,100.0,0.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
599,CUPGE - Arts Lettres Langues,8,0,0,100.0,0.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
682,Licence - Droit-économie-gestion / Sciences hu...,49,0,0,100.0,0.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
770,Classe préparatoire aux études supérieures,16,1,0,94.093750,0.000000,5.899414
783,Classe préparatoire aux études supérieures,21,1,0,95.500000,0.000000,4.500000
793,Classe préparatoire aux études supérieures,20,0,0,100.000000,0.000000,0.000000
893,Classe préparatoire aux études supérieures,18,2,1,85.687500,4.799805,9.500000
1193,Classe préparatoire aux études supérieures,8,1,0,88.890625,0.000000,11.099609
1779,Classe préparatoire aux études supérieures,18,0,0,100.000000,0.000000,0.000000
2319,Classe préparatoire aux études supérieures,20,0,0,100.000000,0.000000,0.000000
2343,Classe préparatoire aux études supérieures,21,0,0,100.000000,0.000000,0.000000
2795,Classe préparatoire aux études supérieures,10,7,0,58.796875,0.000000,41.195312
3420,Classe préparatoire aux études supérieures,1,10,6,5.899414,35.296875,58.796875
4759,Classe préparatoire aux études supérieures,19,0,0,100.000000,0.000000,0.000000
4940,Classe préparatoire aux études supérieures,6,0,0,100.000000,0.000000,0.000000
5464,Classe préparatoire aux études supérieures,2,2,1,40.000000,20.000000,40.000000
5476,Classe préparatoire aux études supérieures,2,1,0,66.687500,0.000000,33.296875
5941,Classe préparatoire aux études supérieures,16,0,0,100.000000,0.000000,0.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
814,DEUST,37,0,0,100.000000,0.000000,0.000000
846,DEUST,3,5,6,21.398438,42.898438,35.695312
1446,DEUST,14,6,0,70.000000,0.000000,30.000000
1513,DEUST,4,3,1,50.000000,12.500000,37.500000
1872,DEUST,31,4,0,88.593750,0.000000,11.398438
2464,DEUST,11,1,0,91.687500,0.000000,8.298828
3081,DEUST,6,6,4,37.500000,25.000000,37.500000
3478,DEUST,10,3,1,71.390625,7.099609,21.398438
3479,DEUST,4,1,4,44.398438,44.398438,11.099609
3589,DEUST,6,11,0,35.296875,0.000000,64.687500
3641,DEUST,10,7,0,58.796875,0.000000,41.195312
3732,DEUST,6,3,3,50.000000,25.000000,25.000000
3733,DEUST,5,2,4,45.500000,36.398438,18.199219
3974,DEUST,16,13,6,45.695312,17.097656,37.093750
4098,DEUST,12,4,0,75.000000,0.000000,25.000000
4515,DEUST,17,7,1,68.000000,4.000000,28.000000
4661,DEUST,4,5,13,18.199219,59.093750,22.699219
4712,DEUST,8,5,1,57.093750,7.099609,35.695312
5429,DEUST,4,1,1,66.687500,16.699219,16.699219
5853,DEUST,5,3,0,62.500000,0.000000,37.500000
6418,DEUST,2,0,0,100.000000,0.000000,0.000000
6537,DEUST,2,13,10,8.000000,40.000000,52.000000
6576,DEUST,11,13,5,37.898438,17.199219,44.796875

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
848,BPJEPS,2,0,1,66.687500,33.296875,0.000000
849,BPJEPS,2,0,0,100.000000,0.000000,0.000000
850,BPJEPS,0,2,0,0.000000,0.000000,100.000000
851,BPJEPS,3,0,0,100.000000,0.000000,0.000000
852,BPJEPS,1,0,0,100.000000,0.000000,0.000000
853,BPJEPS,0,1,0,0.000000,0.000000,100.000000
854,BPJEPS,0,1,1,0.000000,50.000000,50.000000
877,BPJEPS,1,0,0,100.000000,0.000000,0.000000
1851,BPJEPS,1,0,0,100.000000,0.000000,0.000000
1852,BPJEPS,5,1,1,71.390625,14.298828,14.298828
1853,BPJEPS,7,3,3,53.796875,23.097656,23.097656
1854,BPJEPS,2,0,0,100.000000,0.000000,0.000000
1855,BPJEPS,4,5,2,36.398438,18.199219,45.500000
1885,BPJEPS,1,1,1,33.296875,33.296875,33.296875
1886,BPJEPS,1,0,1,50.000000,50.000000,0.000000
1887,BPJEPS,0,1,3,0.000000,75.000000,25.000000
2020,BPJEPS,1,0,0,100.000000,0.000000,0.000000
2021,BPJEPS,1,0,0,100.000000,0.000000,0.000000
2039,BPJEPS,2,2,0,50.000000,0.000000,50.000000
2974,BPJEPS,0,1,3,0.000000,75.000000,25.000000
2975,BPJEPS,2,0,2,50.000000,50.000000,0.000000
3000,BPJEPS,0,1,1,0.000000,50.000000,50.000000
3086,BPJEPS,1,0,0,100.000000,0.000000,0.000000
3209,BPJEPS,2,2,1,40.000000,20.000000,40.000000
4982,BPJEPS,0,1,1,0.000000,50.000000,50.000000
4983,BPJEPS,3,0,0,100.000000,0.000000,0.000000
4984,BPJEPS,1,4,1,16.699219,16.699219,66.687500
4987,BPJEPS,2,3,1,33.296875,16.699219,50.000000
4993,BPJEPS,3,0,0,100.000000,0.000000,0.000000
4994,BPJEPS,2,0,0,100.000000,0.000000,0.000000
5016,BPJEPS,0,2,1,0.000000,33.296875,66.687500
5017,BPJEPS,2,0,1,66.687500,33.296875,0.000000
5046,BPJEPS,2,1,0,66.687500,0.000000,33.296875
5238,BPJEPS,0,0,0,NaN,NaN,NaN
5239,BPJEPS,3,0,1,75.000000,25.000000,0.000000
6349,BPJEPS,2,0,1,66.687500,33.296875,0.000000
6350,BPJEPS,0,1,0,0.000000,0.000000,100.000000
6379,BPJEPS,1,0,1,50.000000,50.000000,0.000000
6408,BPJEPS,1,0,1,50.000000,50.000000,0.000000
6594,BPJEPS,2,0,0,100.000000,0.000000,0.000000
6595,BPJEPS,0,0,0,NaN,NaN,NaN

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
858,DN MADE,8,6,0,57.093750,0.0,42.898438
859,DN MADE,7,7,0,50.000000,0.0,50.000000
860,DN MADE,1,5,0,16.699219,0.0,83.296875
861,DN MADE,10,7,0,58.796875,0.0,41.195312
862,DN MADE,6,6,0,50.000000,0.0,50.000000
...,...,...,...,...,...,...,...
6362,DN MADE,3,1,0,75.000000,0.0,25.000000
6363,DN MADE,3,2,0,60.000000,0.0,40.000000
6364,DN MADE,2,1,0,66.687500,0.0,33.296875
6365,DN MADE,0,0,0,NaN,NaN,NaN
6539,DN MADE,4,3,0,57.093750,0.0,42.898438

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
1017,D.E secteur social,14,1,0,93.296875,0.000000,6.699219
1023,D.E secteur social,5,4,6,33.296875,40.000000,26.699219
1024,D.E secteur social,10,8,1,52.593750,5.299805,42.093750
1025,D.E secteur social,3,3,1,42.898438,14.298828,42.898438
1026,D.E secteur social,11,4,1,68.796875,6.299805,25.000000
...,...,...,...,...,...,...,...
6270,D.E secteur social,0,1,5,0.000000,83.296875,16.699219
6271,D.E secteur social,3,9,9,14.298828,42.898438,42.898438
6272,D.E secteur social,4,1,0,80.000000,0.000000,20.000000
6337,D.E secteur social,2,0,1,66.687500,33.296875,0.000000
6568,D.E secteur social,1,0,3,25.000000,75.000000,0.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
1499,Diplôme d'établissement,9,1,1,81.796875,9.099609,9.099609

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
1512,Licence - Sciences humaines et sociales / Scie...,18,1,0,94.6875,0.0,5.299805

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
1597,Diplôme d'Université,8,1,0,88.890625,0.000000,11.099609
1999,Diplôme d'Université,0,0,0,NaN,NaN,NaN
3006,Diplôme d'Université,13,19,39,18.296875,54.898438,26.796875
3191,Diplôme d'Université,2,3,0,40.000000,0.000000,60.000000
3348,Diplôme d'Université,3,2,0,60.000000,0.000000,40.000000
3363,Diplôme d'Université,4,2,1,57.093750,14.298828,28.597656
3375,Diplôme d'Université,6,5,0,54.500000,0.000000,45.500000
3377,Diplôme d'Université,8,4,1,61.500000,7.699219,30.796875
3378,Diplôme d'Université,4,11,6,19.000000,28.597656,52.398438
3379,Diplôme d'Université,1,4,2,14.298828,28.597656,57.093750
3381,Diplôme d'Université,2,5,0,28.597656,0.000000,71.390625
3389,Diplôme d'Université,10,4,11,40.000000,44.000000,16.000000
3390,Diplôme d'Université,4,3,0,57.093750,0.000000,42.898438
3394,Diplôme d'Université,7,8,13,25.000000,46.398438,28.597656
3395,Diplôme d'Université,6,3,0,66.687500,0.000000,33.296875
3396,Diplôme d'Université,0,0,1,0.000000,100.000000,0.000000
3410,Diplôme d'Université,3,0,4,42.898438,57.093750,0.000000
3411,Diplôme d'Université,1,0,0,100.000000,0.000000,0.000000
3412,Diplôme d'Université,3,0,3,50.000000,50.000000,0.000000
3413,Diplôme d'Université,0,0,0,NaN,NaN,NaN
3422,Diplôme d'Université,0,0,0,NaN,NaN,NaN
3423,Diplôme d'Université,5,1,0,83.296875,0.000000,16.699219
3424,Diplôme d'Université,0,0,0,NaN,NaN,NaN
3428,Diplôme d'Université,0,0,0,NaN,NaN,NaN
3435,Diplôme d'Université,0,0,0,NaN,NaN,NaN
3436,Diplôme d'Université,0,0,0,NaN,NaN,NaN
3437,Diplôme d'Université,1,0,5,16.699219,83.296875,0.000000
3442,Diplôme d'Université,0,0,0,NaN,NaN,NaN
5058,Diplôme d'Université,13,2,2,76.500000,11.798828,11.798828
5227,Diplôme d'Université,12,6,0,66.687500,0.000000,33.296875
5354,Diplôme d'Université,1,0,1,50.000000,50.000000,0.000000
5382,Diplôme d'Université,16,1,1,88.890625,5.599609,5.599609
5386,Diplôme d'Université,4,2,2,50.000000,25.000000,25.000000
5397,Diplôme d'Université,0,1,4,0.000000,80.000000,20.000000
5401,Diplôme d'Université,38,25,7,54.296875,10.000000,35.695312
5403,Diplôme d'Université,7,3,1,63.593750,9.099609,27.296875
5404,Diplôme d'Université,0,0,0,NaN,NaN,NaN
5405,Diplôme d'Université,3,1,5,33.296875,55.593750,11.099609
5406,Diplôme d'Université,8,5,4,47.093750,23.500000,29.398438
5417,Diplôme d'Université,5,6,4,33.296875,26.699219,40.000000
5427,Diplôme d'Université,3,0,1,75.000000,25.000000,0.000000
5430,Diplôme d'Université,9,3,0,75.000000,0.000000,25.000000
5442,Diplôme d'Université,3,3,0,50.000000,0.000000,50.000000
5453,Diplôme d'Université,5,9,3,29.398438,17.597656,52.898438
5459,Diplôme d'Université,0,0,0,NaN,NaN,NaN
5466,Diplôme d'Université,0,0,1,0.000000,100.000000,0.000000
5467,Diplôme d'Université,1,2,1,25.000000,25.000000,50.000000
5469,Diplôme d'Université,0,1,0,0.000000,0.000000,100.000000
5475,Diplôme d'Université,0,0,0,NaN,NaN,NaN
5477,Diplôme d'Université,0,0,1,0.000000,100.000000,0.000000
6295,Diplôme d'Université,17,1,0,94.390625,0.000000,5.599609
6374,Diplôme d'Université,1,0,0,100.000000,0.000000,0.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
1821,Licence - Arts-lettres-langues / Sciences huma...,11,0,0,100.000000,0.000000,0.000000
2511,Licence - Arts-lettres-langues / Sciences huma...,29,4,2,82.890625,5.699219,11.398438

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
1843,CPES,64,0,0,100.0,0.0,0.0
5462,CPES,42,0,0,100.0,0.0,0.0
5471,CPES,20,0,0,100.0,0.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
1856,DEJEPS,1,1,1,33.296875,33.296875,33.296875

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
2641,Cadre Technique,9,1,0,90.0,0.0,10.0
2642,Cadre Technique,9,0,1,90.0,10.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
2643,Diplôme d'Etablissement,8,1,0,88.890625,0.000000,11.099609
2851,Diplôme d'Etablissement,9,3,0,75.000000,0.000000,25.000000
3317,Diplôme d'Etablissement,1,1,0,50.000000,0.000000,50.000000
3391,Diplôme d'Etablissement,8,7,4,42.093750,21.097656,36.796875
4911,Diplôme d'Etablissement,14,11,2,51.898438,7.399414,40.695312
4942,Diplôme d'Etablissement,9,2,0,81.796875,0.000000,18.199219
5365,Diplôme d'Etablissement,8,1,0,88.890625,0.000000,11.099609
6440,Diplôme d'Etablissement,29,0,0,100.000000,0.000000,0.000000
6531,Diplôme d'Etablissement,21,3,0,87.500000,0.000000,12.500000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
2800,BTS - Maritime,0,0,8,0.0,100.0,0.0
2801,BTS - Maritime,0,0,9,0.0,100.0,0.0
4819,BTS - Maritime,0,0,9,0.0,100.0,0.0
6199,BTS - Maritime,0,0,5,0.0,100.0,0.0
6200,BTS - Maritime,0,0,11,0.0,100.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
2906,Sciences politiques,101,0,0,100.0000,0.0,0.000000
2907,Sciences politiques,17,0,0,100.0000,0.0,0.000000
3230,Sciences politiques,54,0,0,100.0000,0.0,0.000000
3231,Sciences politiques,84,0,0,100.0000,0.0,0.000000
3323,Sciences politiques,95,1,0,99.0000,0.0,1.000000
3368,Sciences politiques,20,0,0,100.0000,0.0,0.000000
4929,Sciences politiques,77,1,0,98.6875,0.0,1.299805
4930,Sciences politiques,91,0,0,100.0000,0.0,0.000000
4931,Sciences politiques,79,0,0,100.0000,0.0,0.000000
4932,Sciences politiques,64,0,0,100.0000,0.0,0.000000
4933,Sciences politiques,12,0,0,100.0000,0.0,0.000000
5268,Sciences politiques,58,0,0,100.0000,0.0,0.000000
5269,Sciences politiques,224,0,0,100.0000,0.0,0.000000
5390,Sciences politiques,102,0,0,100.0000,0.0,0.000000
5422,Sciences politiques,7,0,0,100.0000,0.0,0.000000
6296,Sciences politiques,248,0,0,100.0000,0.0,0.000000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
2935,Formation des écoles supérieure d'art,82,13,5,82.000000,5.000000,13.000000
2936,Formation des écoles supérieure d'art,23,5,1,79.296875,3.399902,17.199219
2937,Formation des écoles supérieure d'art,69,24,2,72.593750,2.099609,25.296875
2958,Formation des écoles supérieure d'art,7,5,1,53.796875,7.699219,38.500000
4972,Formation des écoles supérieure d'art,52,7,2,85.187500,3.299805,11.500000
4973,Formation des écoles supérieure d'art,89,16,7,79.500000,6.299805,14.298828
4974,Formation des écoles supérieure d'art,16,2,1,84.187500,5.299805,10.500000
4980,Formation des écoles supérieure d'art,8,8,1,47.093750,5.899414,47.093750
6321,Formation des écoles supérieure d'art,14,3,1,77.796875,5.599609,16.699219
6417,Formation des écoles supérieure d'art,17,1,1,89.500000,5.299805,5.299805

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
3007,Licence - STAPS,45,3,1,91.796875,2.000000,6.099609
3134,Licence - STAPS,110,2,0,98.187500,0.000000,1.799805
3370,Licence - STAPS,124,34,14,72.093750,8.099609,19.796875
5154,Licence - STAPS,54,12,3,78.296875,4.299805,17.398438
5368,Licence - STAPS,35,4,0,89.687500,0.000000,10.298828
6498,Licence - STAPS,21,0,0,100.000000,0.000000,0.000000
6502,Licence - STAPS,325,36,15,86.390625,4.000000,9.599609
6503,Licence - STAPS,28,2,0,93.296875,0.000000,6.699219
6508,Licence - STAPS,46,5,2,86.796875,3.799805,9.398438

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
3206,Formations des écoles nationales vétérinaires,40,0,0,100.0,0.0,0.0
5229,Formations des écoles nationales vétérinaires,40,0,0,100.0,0.0,0.0
5230,Formations des écoles nationales vétérinaires,40,0,0,100.0,0.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
4927,Formation valant grade de licence,552,0,0,100.0,0.0,0.0
4928,Formation valant grade de licence,35,0,0,100.0,0.0,0.0
6299,Formation valant grade de licence,32,0,0,100.0,0.0,0.0
6300,Formation valant grade de licence,132,0,0,100.0,0.0,0.0

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
4954,Formation des écoles supérieures de cuisine,31,2,0,93.890625,0.000000,6.099609
4955,Formation des écoles supérieures de cuisine,18,3,0,85.687500,0.000000,14.298828
5395,Formation des écoles supérieures de cuisine,15,3,1,78.890625,5.299805,15.798828
5396,Formation des écoles supérieures de cuisine,13,0,0,100.000000,0.000000,0.000000
6322,Formation des écoles supérieures de cuisine,17,2,0,89.500000,0.000000,10.500000

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
4956,Formations Bac + 3,198,9,1,95.1875,0.5,4.299805

None

,Filière de formation,Effectif des admis néo bacheliers généraux,Effectif des admis néo bacheliers technologiques,Effectif des admis néo bacheliers professionnels,% d’admis néo bacheliers généraux,% d’admis néo bacheliers professionnels,% d’admis néo bacheliers technologiques
5436,LP - Droit-économie-gestion,17,3,1,81.0,4.799805,14.298828

None

In [38]:
liste_mentions = [r"% d’admis néo bacheliers sans information sur la mention au bac",r"% d’admis néo bacheliers sans mention au bac",r"% d’admis néo bacheliers avec mention Assez Bien au bac",r"% d’admis néo bacheliers avec mention Bien au bac",r"% d’admis néo bacheliers avec mention Très Bien au bac",r"% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac"]

for mention in liste_mentions:
  for filiere in liste_de_filiere:
  
    df_mention = df[[mention,"Filière de formation"]].sort_values(by=mention,ascending = False)
    print(display(df_mention[df_mention["Filière de formation"]==filiere]))

      % d’admis néo bacheliers avec mention Bien au bac Filière de formation
2641                                               40.0      Cadre Technique
2642                                               30.0      Cadre Technique

None

,% d’admis néo bacheliers avec mention Bien au bac,Filière de formation
3317,50.000000,Diplôme d'Etablissement
6531,41.695312,Diplôme d'Etablissement
2643,22.199219,Diplôme d'Etablissement
5365,22.199219,Diplôme d'Etablissement
4911,18.500000,Diplôme d'Etablissement
4942,18.199219,Diplôme d'Etablissement
2851,16.699219,Diplôme d'Etablissement
3391,15.798828,Diplôme d'Etablissement
6440,3.399902,Diplôme d'Etablissement

None

      % d’admis néo bacheliers avec mention Bien au bac Filière de formation
2801                                          44.398438       BTS - Maritime
2800                                          37.500000       BTS - Maritime
6200                                          27.296875       BTS - Maritime
4819                                          22.199219       BTS - Maritime
6199                                           0.000000       BTS - Maritime

None

      % d’admis néo bacheliers avec mention Bien au bac Filière de formation
2907                                          29.398438  Sciences politiques
5390                                          15.699219  Sciences politiques
4932                                          15.599609  Sciences politiques
2906                                          14.898438  Sciences politiques
4929                                          12.798828  Sciences politiques
4931                                          11.398438  Sciences politiques
4933                                           8.298828  Sciences politiques
6296                                           5.599609  Sciences politiques
3231                                           4.799805  Sciences politiques
3323                                           4.199219  Sciences politiques
5269                                           3.599609  Sciences politiques
5268                                           3.399902  Sciences politiques
4930                                           2.199707  Sciences politiques
5422                                           0.000000  Sciences politiques
3230                                           0.000000  Sciences politiques
3368                                           0.000000  Sciences politiques

None

,% d’admis néo bacheliers avec mention Bien au bac,Filière de formation
2935,43.000000,Formation des écoles supérieure d'art
4980,35.296875,Formation des écoles supérieure d'art
6417,26.296875,Formation des écoles supérieure d'art
2936,24.097656,Formation des écoles supérieure d'art
6321,22.199219,Formation des écoles supérieure d'art
4974,21.097656,Formation des écoles supérieure d'art
2937,21.097656,Formation des écoles supérieure d'art
4972,19.699219,Formation des écoles supérieure d'art
2958,15.398438,Formation des écoles supérieure d'art
4973,14.298828,Formation des écoles supérieure d'art

None

      % d’admis néo bacheliers avec mention Bien au bac Filière de formation
3134                                          53.593750      Licence - STAPS
5368                                          46.195312      Licence - STAPS
6498                                          33.296875      Licence - STAPS
3007                                          30.597656      Licence - STAPS
6503                                          30.000000      Licence - STAPS
5154                                          20.296875      Licence - STAPS
6502                                          15.398438      Licence - STAPS
3370                                          13.398438      Licence - STAPS
6508                                           3.799805      Licence - STAPS

None

,% d’admis néo bacheliers avec mention Bien au bac,Filière de formation
3206,7.5,Formations des écoles nationales vétérinaires
5229,5.0,Formations des écoles nationales vétérinaires
5230,5.0,Formations des écoles nationales vétérinaires

None

,% d’admis néo bacheliers avec mention Bien au bac,Filière de formation
6299,56.296875,Formation valant grade de licence
6300,29.500000,Formation valant grade de licence
4928,28.597656,Formation valant grade de licence
4927,15.000000,Formation valant grade de licence

None

,% d’admis néo bacheliers avec mention Bien au bac,Filière de formation
4955,47.593750,Formation des écoles supérieures de cuisine
5396,46.195312,Formation des écoles supérieures de cuisine
6322,42.093750,Formation des écoles supérieures de cuisine
4954,30.296875,Formation des écoles supérieures de cuisine
5395,15.798828,Formation des écoles supérieures de cuisine

None

      % d’admis néo bacheliers avec mention Bien au bac Filière de formation
4956                                          31.699219   Formations Bac + 3

None

,% d’admis néo bacheliers avec mention Bien au bac,Filière de formation
5436,0.0,LP - Droit-économie-gestion

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
5635,27.3,DCG
5812,22.2,DCG
3583,21.1,DCG
221,16.7,DCG
2665,16.7,DCG
1572,11.1,DCG
4357,10.8,DCG
2267,10.5,DCG
4197,10.3,DCG
2402,10.3,DCG
4115,9.3,DCG
2540,9.1,DCG
2236,9.1,DCG
100,8.1,DCG
1462,8.0,DCG
3634,8.0,DCG
1137,7.4,DCG
1245,7.1,DCG
567,6.9,DCG
2565,6.7,DCG
4737,6.7,DCG
2695,6.3,DCG
0,6.3,DCG
1445,5.9,DCG
2448,5.9,DCG
4058,5.7,DCG
3886,5.6,DCG
4579,5.3,DCG
661,4.3,DCG
5747,4.2,DCG
4312,3.7,DCG
5566,3.4,DCG
4694,3.3,DCG
1403,3.2,DCG
792,0.0,DCG
185,0.0,DCG
437,0.0,DCG
395,0.0,DCG
386,0.0,DCG
3527,0.0,DCG
1731,0.0,DCG
2244,0.0,DCG
2368,0.0,DCG
2494,0.0,DCG
1184,0.0,DCG
4582,0.0,DCG
4620,0.0,DCG
1514,0.0,DCG
3616,0.0,DCG
3705,0.0,DCG
1318,0.0,DCG
4045,0.0,DCG
1386,0.0,DCG

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
3553,62.5,BTS - Services
3930,60.0,BTS - Services
6566,50.0,BTS - Services
6152,40.0,BTS - Services
3173,37.5,BTS - Services
...,...,...
3988,0.0,BTS - Services
3994,0.0,BTS - Services
3996,0.0,BTS - Services
1395,0.0,BTS - Services
3998,0.0,BTS - Services

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
2175,33.3,BTS - Agricole
2306,28.6,BTS - Agricole
6246,22.2,BTS - Agricole
2016,20.0,BTS - Agricole
3672,18.2,BTS - Agricole
...,...,...
3989,0.0,BTS - Agricole
3991,0.0,BTS - Agricole
3992,0.0,BTS - Agricole
2017,NaN,BTS - Agricole
4592,NaN,BTS - Agricole

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
4218,45.5,BUT - Production
4201,20.8,BUT - Production
4272,18.8,BUT - Production
2434,16.7,BUT - Production
2485,16.0,BUT - Production
...,...,...
1415,0.0,BUT - Production
3954,0.0,BUT - Production
3910,0.0,BUT - Production
3908,0.0,BUT - Production
4032,0.0,BUT - Production

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
3298,87.5,Classe préparatoire économique et commerciale
5302,82.6,Classe préparatoire économique et commerciale
3261,79.5,Classe préparatoire économique et commerciale
5313,79.2,Classe préparatoire économique et commerciale
5323,77.8,Classe préparatoire économique et commerciale
...,...,...
3364,0.0,Classe préparatoire économique et commerciale
2299,0.0,Classe préparatoire économique et commerciale
2461,0.0,Classe préparatoire économique et commerciale
4211,0.0,Classe préparatoire économique et commerciale
1326,0.0,Classe préparatoire économique et commerciale

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
2109,82.2,Classe préparatoire scientifique
4191,81.1,Classe préparatoire scientifique
5801,80.0,Classe préparatoire scientifique
516,76.7,Classe préparatoire scientifique
2231,75.0,Classe préparatoire scientifique
...,...,...
1267,0.0,Classe préparatoire scientifique
4585,0.0,Classe préparatoire scientifique
4626,0.0,Classe préparatoire scientifique
4049,0.0,Classe préparatoire scientifique
1375,0.0,Classe préparatoire scientifique

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
4169,80.2,Classe préparatoire littéraire
1349,78.3,Classe préparatoire littéraire
4070,72.7,Classe préparatoire littéraire
5803,66.7,Classe préparatoire littéraire
1348,63.3,Classe préparatoire littéraire
...,...,...
3997,10.8,Classe préparatoire littéraire
345,10.0,Classe préparatoire littéraire
4413,10.0,Classe préparatoire littéraire
1374,7.1,Classe préparatoire littéraire
2345,5.9,Classe préparatoire littéraire

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
481,50.0,BTS - Production
3952,50.0,BTS - Production
2609,50.0,BTS - Production
503,45.2,BTS - Production
4053,36.4,BTS - Production
...,...,...
1397,0.0,BTS - Production
1394,0.0,BTS - Production
4004,0.0,BTS - Production
791,NaN,BTS - Production
6082,NaN,BTS - Production

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
5228,100.0,Licence - Sciences humaines et sociales
1778,76.5,Licence - Sciences humaines et sociales
650,68.8,Licence - Sciences humaines et sociales
3136,61.8,Licence - Sciences humaines et sociales
5173,60.0,Licence - Sciences humaines et sociales
...,...,...
4076,0.0,Licence - Sciences humaines et sociales
4181,0.0,Licence - Sciences humaines et sociales
4160,0.0,Licence - Sciences humaines et sociales
1413,0.0,Licence - Sciences humaines et sociales
4015,0.0,Licence - Sciences humaines et sociales

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
487,84.4,Licence - Droit-économie-gestion
2024,79.3,Licence - Droit-économie-gestion
5255,75.0,Licence - Droit-économie-gestion
651,75.0,Licence - Droit-économie-gestion
3098,75.0,Licence - Droit-économie-gestion
...,...,...
4685,0.0,Licence - Droit-économie-gestion
1115,0.0,Licence - Droit-économie-gestion
3678,0.0,Licence - Droit-économie-gestion
1359,0.0,Licence - Droit-économie-gestion
6607,0.0,Licence - Droit-économie-gestion

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
3128,100.0,Licence - Arts-lettres-langues
633,100.0,Licence - Arts-lettres-langues
1108,81.8,Licence - Arts-lettres-langues
5141,76.9,Licence - Arts-lettres-langues
1106,70.6,Licence - Arts-lettres-langues
...,...,...
1645,NaN,Licence - Arts-lettres-langues
2783,NaN,Licence - Arts-lettres-langues
2988,NaN,Licence - Arts-lettres-langues
3228,NaN,Licence - Arts-lettres-langues
6327,NaN,Licence - Arts-lettres-langues

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
759,76.9,"CUPGE - Sciences, technologie, santé"
1533,42.9,"CUPGE - Sciences, technologie, santé"
5624,35.7,"CUPGE - Sciences, technologie, santé"
1581,29.4,"CUPGE - Sciences, technologie, santé"
647,16.7,"CUPGE - Sciences, technologie, santé"
56,12.1,"CUPGE - Sciences, technologie, santé"
4684,7.7,"CUPGE - Sciences, technologie, santé"
1614,0.0,"CUPGE - Sciences, technologie, santé"
1609,0.0,"CUPGE - Sciences, technologie, santé"

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
5813,32.6,BUT - Service
3835,27.3,BUT - Service
2203,23.8,BUT - Service
4221,21.1,BUT - Service
6038,18.9,BUT - Service
...,...,...
4102,0.0,BUT - Service
4118,0.0,BUT - Service
4083,0.0,BUT - Service
1314,0.0,BUT - Service
4035,0.0,BUT - Service

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
1762,80.0,Formations Bac + 5
5993,68.4,Formations Bac + 5
2453,46.5,Formations Bac + 5
1560,46.2,Formations Bac + 5
4140,38.6,Formations Bac + 5
1141,36.0,Formations Bac + 5
4495,29.0,Formations Bac + 5
1203,28.0,Formations Bac + 5
3882,26.1,Formations Bac + 5
458,23.5,Formations Bac + 5
2927,16.7,Formations Bac + 5
2535,14.3,Formations Bac + 5
703,13.6,Formations Bac + 5
158,11.7,Formations Bac + 5
6552,10.5,Formations Bac + 5
102,10.4,Formations Bac + 5
5100,NaN,Formations Bac + 5
5101,NaN,Formations Bac + 5
5102,NaN,Formations Bac + 5
5103,NaN,Formations Bac + 5
6452,NaN,Formations Bac + 5
6453,NaN,Formations Bac + 5

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
3115,82.9,Licence - Sciences - technologies - santé
5130,80.0,Licence - Sciences - technologies - santé
1927,75.0,Licence - Sciences - technologies - santé
496,72.3,Licence - Sciences - technologies - santé
3118,69.0,Licence - Sciences - technologies - santé
...,...,...
1316,0.0,Licence - Sciences - technologies - santé
1315,0.0,Licence - Sciences - technologies - santé
1383,0.0,Licence - Sciences - technologies - santé
3164,NaN,Licence - Sciences - technologies - santé
5180,NaN,Licence - Sciences - technologies - santé

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
5441,66.7,D.E secteur sanitaire
3401,66.7,D.E secteur sanitaire
5087,62.5,D.E secteur sanitaire
3069,52.6,D.E secteur sanitaire
5053,50.0,D.E secteur sanitaire
...,...,...
4549,0.0,D.E secteur sanitaire
3644,0.0,D.E secteur sanitaire
4000,0.0,D.E secteur sanitaire
1393,0.0,D.E secteur sanitaire
6311,NaN,D.E secteur sanitaire

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
931,100.0,Formations des écoles d'ingénieurs
3748,84.3,Formations des écoles d'ingénieurs
3747,82.0,Formations des écoles d'ingénieurs
2055,78.3,Formations des écoles d'ingénieurs
5496,74.6,Formations des écoles d'ingénieurs
...,...,...
5342,NaN,Formations des écoles d'ingénieurs
6301,NaN,Formations des écoles d'ingénieurs
6319,NaN,Formations des écoles d'ingénieurs
6528,NaN,Formations des écoles d'ingénieurs
6586,NaN,Formations des écoles d'ingénieurs

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
3574,50.0,Mise à niveau
4031,13.3,Mise à niveau
1139,9.1,Mise à niveau
4640,7.7,Mise à niveau
4162,7.4,Mise à niveau
5995,6.7,Mise à niveau
1483,5.9,Mise à niveau
5935,4.2,Mise à niveau
1087,3.2,Mise à niveau
4648,2.6,Mise à niveau
4908,0.0,Mise à niveau
824,0.0,Mise à niveau
219,0.0,Mise à niveau
268,0.0,Mise à niveau
439,0.0,Mise à niveau
5957,0.0,Mise à niveau
1667,0.0,Mise à niveau
2519,0.0,Mise à niveau
2112,0.0,Mise à niveau
2095,0.0,Mise à niveau
2183,0.0,Mise à niveau
2199,0.0,Mise à niveau
2134,0.0,Mise à niveau
1189,0.0,Mise à niveau
4622,0.0,Mise à niveau
3805,0.0,Mise à niveau
1363,0.0,Mise à niveau
1330,0.0,Mise à niveau
3944,0.0,Mise à niveau
1390,0.0,Mise à niveau
4317,NaN,Mise à niveau

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
3236,50.0,Licence - Droit-économie-gestion / Arts-lettre...
243,18.7,Licence - Droit-économie-gestion / Arts-lettre...

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
1268,36.0,Année préparatoire
754,28.6,Année préparatoire
3359,25.0,Année préparatoire
6602,16.7,Année préparatoire
1715,8.0,Année préparatoire
5232,7.7,Année préparatoire
3999,6.3,Année préparatoire
296,6.1,Année préparatoire
3142,4.8,Année préparatoire
1566,4.2,Année préparatoire
3679,3.8,Année préparatoire
1519,1.0,Année préparatoire
913,0.0,Année préparatoire
6039,0.0,Année préparatoire
6040,0.0,Année préparatoire
6509,0.0,Année préparatoire
6553,0.0,Année préparatoire
2285,0.0,Année préparatoire
4085,0.0,Année préparatoire

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
2918,66.7,Diplôme National d'Art
748,20.0,Diplôme National d'Art
4898,20.0,Diplôme National d'Art
5158,18.8,Diplôme National d'Art
6320,16.7,Diplôme National d'Art
6259,5.9,Diplôme National d'Art
470,0.0,Diplôme National d'Art

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
2950,42.9,Formation des écoles de commerce et de management
3084,40.5,Formation des écoles de commerce et de management
2934,27.5,Formation des écoles de commerce et de management
2943,25.0,Formation des écoles de commerce et de management
4965,23.3,Formation des écoles de commerce et de management
...,...,...
3783,0.0,Formation des écoles de commerce et de management
1502,0.0,Formation des écoles de commerce et de management
1501,0.0,Formation des écoles de commerce et de management
1500,0.0,Formation des écoles de commerce et de management
5452,NaN,Formation des écoles de commerce et de management

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
4809,33.3,Mention complémentaire
4830,25.0,Mention complémentaire
1601,23.1,Mention complémentaire
725,22.2,Mention complémentaire
2818,20.0,Mention complémentaire
...,...,...
6291,NaN,Mention complémentaire
6482,NaN,Mention complémentaire
6545,NaN,Mention complémentaire
6570,NaN,Mention complémentaire
6580,NaN,Mention complémentaire

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
3169,9.6,Formation professionnelle
837,9.1,Formation professionnelle
710,0.0,Formation professionnelle
538,0.0,Formation professionnelle
475,0.0,Formation professionnelle
1774,0.0,Formation professionnelle
3306,0.0,Formation professionnelle
1529,0.0,Formation professionnelle
711,NaN,Formation professionnelle
3143,NaN,Formation professionnelle

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
490,18.3,CUPGE - Droit-économie-gestion
3176,17.8,CUPGE - Droit-économie-gestion
491,11.8,CUPGE - Droit-économie-gestion

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
728,50.0,C.M.I - Cursus Master en Ingénierie
640,37.9,C.M.I - Cursus Master en Ingénierie
632,37.5,C.M.I - Cursus Master en Ingénierie
597,33.3,C.M.I - Cursus Master en Ingénierie
841,33.3,C.M.I - Cursus Master en Ingénierie
613,33.3,C.M.I - Cursus Master en Ingénierie
5145,33.3,C.M.I - Cursus Master en Ingénierie
5157,28.6,C.M.I - Cursus Master en Ingénierie
683,25.0,C.M.I - Cursus Master en Ingénierie
1841,25.0,C.M.I - Cursus Master en Ingénierie
635,23.1,C.M.I - Cursus Master en Ingénierie
551,21.9,C.M.I - Cursus Master en Ingénierie
1006,20.0,C.M.I - Cursus Master en Ingénierie
1619,20.0,C.M.I - Cursus Master en Ingénierie
698,17.6,C.M.I - Cursus Master en Ingénierie
739,16.7,C.M.I - Cursus Master en Ingénierie
1598,16.7,C.M.I - Cursus Master en Ingénierie
696,16.7,C.M.I - Cursus Master en Ingénierie
1840,15.4,C.M.I - Cursus Master en Ingénierie
6510,12.5,C.M.I - Cursus Master en Ingénierie
839,11.1,C.M.I - Cursus Master en Ingénierie
1712,11.1,C.M.I - Cursus Master en Ingénierie
747,10.0,C.M.I - Cursus Master en Ingénierie
6505,9.1,C.M.I - Cursus Master en Ingénierie
665,5.3,C.M.I - Cursus Master en Ingénierie
596,0.0,C.M.I - Cursus Master en Ingénierie
579,0.0,C.M.I - Cursus Master en Ingénierie
5156,0.0,C.M.I - Cursus Master en Ingénierie
6506,0.0,C.M.I - Cursus Master en Ingénierie
5433,0.0,C.M.I - Cursus Master en Ingénierie
1781,0.0,C.M.I - Cursus Master en Ingénierie
1664,0.0,C.M.I - Cursus Master en Ingénierie
1711,0.0,C.M.I - Cursus Master en Ingénierie
840,NaN,C.M.I - Cursus Master en Ingénierie

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
599,12.5,CUPGE - Arts Lettres Langues

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
682,28.6,Licence - Droit-économie-gestion / Sciences hu...

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
1193,33.3,Classe préparatoire aux études supérieures
783,22.7,Classe préparatoire aux études supérieures
5464,20.0,Classe préparatoire aux études supérieures
770,11.8,Classe préparatoire aux études supérieures
1779,11.1,Classe préparatoire aux études supérieures
5941,6.3,Classe préparatoire aux études supérieures
2319,5.0,Classe préparatoire aux études supérieures
893,4.8,Classe préparatoire aux études supérieures
793,0.0,Classe préparatoire aux études supérieures
4940,0.0,Classe préparatoire aux études supérieures
5476,0.0,Classe préparatoire aux études supérieures
3420,0.0,Classe préparatoire aux études supérieures
2343,0.0,Classe préparatoire aux études supérieures
2795,0.0,Classe préparatoire aux études supérieures
4759,0.0,Classe préparatoire aux études supérieures

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
3733,9.1,DEUST
3732,8.3,DEUST
814,8.1,DEUST
846,7.1,DEUST
3641,5.9,DEUST
3974,2.9,DEUST
6576,0.0,DEUST
6537,0.0,DEUST
6418,0.0,DEUST
5429,0.0,DEUST
5853,0.0,DEUST
1872,0.0,DEUST
3081,0.0,DEUST
3478,0.0,DEUST
3479,0.0,DEUST
2464,0.0,DEUST
4515,0.0,DEUST
4712,0.0,DEUST
4661,0.0,DEUST
1513,0.0,DEUST
1446,0.0,DEUST
3589,0.0,DEUST
4098,0.0,DEUST

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
2975,25.0,BPJEPS
849,0.0,BPJEPS
854,0.0,BPJEPS
853,0.0,BPJEPS
852,0.0,BPJEPS
851,0.0,BPJEPS
877,0.0,BPJEPS
4987,0.0,BPJEPS
4993,0.0,BPJEPS
4994,0.0,BPJEPS
5239,0.0,BPJEPS
850,0.0,BPJEPS
848,0.0,BPJEPS
5016,0.0,BPJEPS
5046,0.0,BPJEPS
5017,0.0,BPJEPS
4984,0.0,BPJEPS
4982,0.0,BPJEPS
4983,0.0,BPJEPS
6594,0.0,BPJEPS
6349,0.0,BPJEPS
6350,0.0,BPJEPS
6379,0.0,BPJEPS
6408,0.0,BPJEPS
1855,0.0,BPJEPS
1854,0.0,BPJEPS
1853,0.0,BPJEPS
1852,0.0,BPJEPS
1851,0.0,BPJEPS
3209,0.0,BPJEPS
3000,0.0,BPJEPS
1887,0.0,BPJEPS
1886,0.0,BPJEPS
1885,0.0,BPJEPS
3086,0.0,BPJEPS
2039,0.0,BPJEPS
2974,0.0,BPJEPS
2021,0.0,BPJEPS
2020,0.0,BPJEPS
5238,NaN,BPJEPS
6595,NaN,BPJEPS

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
5004,100.0,DN MADE
6364,66.7,DN MADE
873,62.5,DN MADE
4834,60.0,DN MADE
887,58.3,DN MADE
...,...,...
4805,0.0,DN MADE
4806,0.0,DN MADE
4823,0.0,DN MADE
1866,NaN,DN MADE
6365,NaN,DN MADE

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
6268,100.0,D.E secteur social
4859,42.9,D.E secteur social
6227,40.0,D.E secteur social
2846,33.3,D.E secteur social
2824,32.0,D.E secteur social
...,...,...
4870,0.0,D.E secteur social
2022,NaN,D.E secteur social
5418,NaN,D.E secteur social
6228,NaN,D.E secteur social
6247,NaN,D.E secteur social

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
1499,0.0,Diplôme d'établissement

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
1512,0.0,Licence - Sciences humaines et sociales / Scie...

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
3378,4.8,Diplôme d'Université
3389,4.0,Diplôme d'Université
5386,0.0,Diplôme d'Université
5382,0.0,Diplôme d'Université
5403,0.0,Diplôme d'Université
5406,0.0,Diplôme d'Université
5405,0.0,Diplôme d'Université
5401,0.0,Diplôme d'Université
5397,0.0,Diplôme d'Université
5354,0.0,Diplôme d'Université
5227,0.0,Diplôme d'Université
5058,0.0,Diplôme d'Université
6374,0.0,Diplôme d'Université
6295,0.0,Diplôme d'Université
5453,0.0,Diplôme d'Université
5466,0.0,Diplôme d'Université
5467,0.0,Diplôme d'Université
5469,0.0,Diplôme d'Université
5417,0.0,Diplôme d'Université
5427,0.0,Diplôme d'Université
5430,0.0,Diplôme d'Université
5442,0.0,Diplôme d'Université
5477,0.0,Diplôme d'Université
3191,0.0,Diplôme d'Université
3006,0.0,Diplôme d'Université
3423,0.0,Diplôme d'Université
3437,0.0,Diplôme d'Université
1597,0.0,Diplôme d'Université
3348,0.0,Diplôme d'Université
3394,0.0,Diplôme d'Université
3395,0.0,Diplôme d'Université
3396,0.0,Diplôme d'Université
3410,0.0,Diplôme d'Université
3411,0.0,Diplôme d'Université
3412,0.0,Diplôme d'Université
3390,0.0,Diplôme d'Université
3363,0.0,Diplôme d'Université
3375,0.0,Diplôme d'Université
3377,0.0,Diplôme d'Université
3379,0.0,Diplôme d'Université
3381,0.0,Diplôme d'Université
1999,NaN,Diplôme d'Université
3413,NaN,Diplôme d'Université
3422,NaN,Diplôme d'Université
3424,NaN,Diplôme d'Université
3428,NaN,Diplôme d'Université
3435,NaN,Diplôme d'Université
3436,NaN,Diplôme d'Université
3442,NaN,Diplôme d'Université
5404,NaN,Diplôme d'Université
5459,NaN,Diplôme d'Université
5475,NaN,Diplôme d'Université

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
1821,18.2,Licence - Arts-lettres-langues / Sciences huma...
2511,0.0,Licence - Arts-lettres-langues / Sciences huma...

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
1843,54.7,CPES
5471,35.0,CPES
5462,23.8,CPES

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
1856,0.0,DEJEPS

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
2641,10.0,Cadre Technique
2642,0.0,Cadre Technique

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
6440,96.6,Diplôme d'Etablissement
6531,16.7,Diplôme d'Etablissement
2643,11.1,Diplôme d'Etablissement
3391,10.5,Diplôme d'Etablissement
2851,8.3,Diplôme d'Etablissement
4911,0.0,Diplôme d'Etablissement
5365,0.0,Diplôme d'Etablissement
4942,0.0,Diplôme d'Etablissement
3317,0.0,Diplôme d'Etablissement

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
6199,20.0,BTS - Maritime
2801,11.1,BTS - Maritime
6200,9.1,BTS - Maritime
2800,0.0,BTS - Maritime
4819,0.0,BTS - Maritime

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
4933,83.3,Sciences politiques
4929,73.1,Sciences politiques
2906,71.3,Sciences politiques
4931,70.9,Sciences politiques
4932,64.1,Sciences politiques
5390,61.8,Sciences politiques
3230,57.4,Sciences politiques
3323,56.3,Sciences politiques
3231,53.6,Sciences politiques
5269,53.1,Sciences politiques
4930,52.7,Sciences politiques
5268,51.7,Sciences politiques
6296,50.4,Sciences politiques
2907,47.1,Sciences politiques
5422,42.9,Sciences politiques
3368,25.0,Sciences politiques

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
4980,35.3,Formation des écoles supérieure d'art
6417,31.6,Formation des écoles supérieure d'art
4974,10.5,Formation des écoles supérieure d'art
2936,6.9,Formation des écoles supérieure d'art
2935,6.0,Formation des écoles supérieure d'art
4972,4.9,Formation des écoles supérieure d'art
2937,3.2,Formation des écoles supérieure d'art
4973,1.8,Formation des écoles supérieure d'art
6321,0.0,Formation des écoles supérieure d'art
2958,0.0,Formation des écoles supérieure d'art

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
6498,47.6,Licence - STAPS
5368,20.5,Licence - STAPS
3134,14.3,Licence - STAPS
6503,13.3,Licence - STAPS
3007,8.2,Licence - STAPS
5154,2.9,Licence - STAPS
3370,1.7,Licence - STAPS
6502,1.6,Licence - STAPS
6508,0.0,Licence - STAPS

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
5230,65.0,Formations des écoles nationales vétérinaires
3206,55.0,Formations des écoles nationales vétérinaires
5229,37.5,Formations des écoles nationales vétérinaires

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
4927,77.7,Formation valant grade de licence
4928,65.7,Formation valant grade de licence
6300,58.3,Formation valant grade de licence
6299,31.3,Formation valant grade de licence

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
4955,28.6,Formation des écoles supérieures de cuisine
5396,23.1,Formation des écoles supérieures de cuisine
4954,6.1,Formation des écoles supérieures de cuisine
6322,5.3,Formation des écoles supérieures de cuisine
5395,0.0,Formation des écoles supérieures de cuisine

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
4956,53.8,Formations Bac + 3

None

,% d’admis néo bacheliers avec mention Très Bien au bac,Filière de formation
5436,0.0,LP - Droit-économie-gestion

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
1245,7.1,DCG
4357,2.7,DCG
4115,2.3,DCG
4579,0.0,DCG
3616,0.0,DCG
4582,0.0,DCG
3634,0.0,DCG
3705,0.0,DCG
4737,0.0,DCG
3527,0.0,DCG
4620,0.0,DCG
4694,0.0,DCG
3583,0.0,DCG
4058,0.0,DCG
4045,0.0,DCG
3886,0.0,DCG
4312,0.0,DCG
4197,0.0,DCG
0,0.0,DCG
5812,0.0,DCG
5747,0.0,DCG
5635,0.0,DCG
5566,0.0,DCG
1137,0.0,DCG
1184,0.0,DCG
1572,0.0,DCG
1514,0.0,DCG
1386,0.0,DCG
1318,0.0,DCG
1462,0.0,DCG
1445,0.0,DCG
1403,0.0,DCG
395,0.0,DCG
386,0.0,DCG
221,0.0,DCG
100,0.0,DCG
185,0.0,DCG
661,0.0,DCG
792,0.0,DCG
437,0.0,DCG
567,0.0,DCG
2665,0.0,DCG
2695,0.0,DCG
1731,0.0,DCG
2448,0.0,DCG
2368,0.0,DCG
2402,0.0,DCG
2540,0.0,DCG
2565,0.0,DCG
2494,0.0,DCG
2244,0.0,DCG
2236,0.0,DCG
2267,0.0,DCG

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
1290,5.3,BTS - Services
4690,3.4,BTS - Services
4555,0.0,BTS - Services
3618,0.0,BTS - Services
3651,0.0,BTS - Services
...,...,...
2279,0.0,BTS - Services
2284,0.0,BTS - Services
2283,0.0,BTS - Services
2282,0.0,BTS - Services
2281,0.0,BTS - Services

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
2149,2.9,BTS - Agricole
3617,0.0,BTS - Agricole
3654,0.0,BTS - Agricole
3655,0.0,BTS - Agricole
4513,0.0,BTS - Agricole
...,...,...
2270,0.0,BTS - Agricole
2268,0.0,BTS - Agricole
2293,0.0,BTS - Agricole
2017,NaN,BTS - Agricole
4592,NaN,BTS - Agricole

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
3819,3.6,BUT - Production
2738,2.9,BUT - Production
2174,2.8,BUT - Production
4158,2.4,BUT - Production
2434,2.4,BUT - Production
...,...,...
2349,0.0,BUT - Production
2335,0.0,BUT - Production
2334,0.0,BUT - Production
2269,0.0,BUT - Production
2277,0.0,BUT - Production

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
3280,56.5,Classe préparatoire économique et commerciale
5296,40.9,Classe préparatoire économique et commerciale
5326,26.1,Classe préparatoire économique et commerciale
5313,20.8,Classe préparatoire économique et commerciale
614,18.2,Classe préparatoire économique et commerciale
...,...,...
3240,0.0,Classe préparatoire économique et commerciale
3239,0.0,Classe préparatoire économique et commerciale
2461,0.0,Classe préparatoire économique et commerciale
2396,0.0,Classe préparatoire économique et commerciale
2299,0.0,Classe préparatoire économique et commerciale

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
4069,66.0,Classe préparatoire scientifique
3467,57.6,Classe préparatoire scientifique
1221,57.1,Classe préparatoire scientifique
1056,50.8,Classe préparatoire scientifique
3340,50.0,Classe préparatoire scientifique
...,...,...
2320,0.0,Classe préparatoire scientifique
2318,0.0,Classe préparatoire scientifique
2311,0.0,Classe préparatoire scientifique
2258,0.0,Classe préparatoire scientifique
2280,0.0,Classe préparatoire scientifique

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
16,29.2,Classe préparatoire littéraire
1349,17.4,Classe préparatoire littéraire
4169,15.6,Classe préparatoire littéraire
4490,11.8,Classe préparatoire littéraire
5837,10.0,Classe préparatoire littéraire
...,...,...
2096,0.0,Classe préparatoire littéraire
2168,0.0,Classe préparatoire littéraire
2156,0.0,Classe préparatoire littéraire
2345,0.0,Classe préparatoire littéraire
2342,0.0,Classe préparatoire littéraire

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
768,13.3,BTS - Production
3823,4.3,BTS - Production
3966,4.3,BTS - Production
4531,3.7,BTS - Production
3649,0.0,BTS - Production
...,...,...
2300,0.0,BTS - Production
2295,0.0,BTS - Production
2294,0.0,BTS - Production
791,NaN,BTS - Production
6082,NaN,BTS - Production

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
3365,60.0,Licence - Sciences humaines et sociales
2956,20.0,Licence - Sciences humaines et sociales
1497,10.5,Licence - Sciences humaines et sociales
3332,8.3,Licence - Sciences humaines et sociales
1706,8.3,Licence - Sciences humaines et sociales
...,...,...
2486,0.0,Licence - Sciences humaines et sociales
2329,0.0,Licence - Sciences humaines et sociales
2330,0.0,Licence - Sciences humaines et sociales
2292,0.0,Licence - Sciences humaines et sociales
2291,0.0,Licence - Sciences humaines et sociales

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
5019,66.7,Licence - Droit-économie-gestion
1021,47.3,Licence - Droit-économie-gestion
1947,28.6,Licence - Droit-économie-gestion
5255,25.0,Licence - Droit-économie-gestion
4090,18.2,Licence - Droit-économie-gestion
...,...,...
2372,0.0,Licence - Droit-économie-gestion
2476,0.0,Licence - Droit-économie-gestion
2353,0.0,Licence - Droit-économie-gestion
2255,0.0,Licence - Droit-économie-gestion
6607,0.0,Licence - Droit-économie-gestion

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
3366,57.9,Licence - Arts-lettres-langues
5420,53.8,Licence - Arts-lettres-langues
5099,28.6,Licence - Arts-lettres-langues
1768,20.0,Licence - Arts-lettres-langues
4725,20.0,Licence - Arts-lettres-langues
...,...,...
1645,NaN,Licence - Arts-lettres-langues
2783,NaN,Licence - Arts-lettres-langues
2988,NaN,Licence - Arts-lettres-langues
3228,NaN,Licence - Arts-lettres-langues
6327,NaN,Licence - Arts-lettres-langues

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
4684,7.7,"CUPGE - Sciences, technologie, santé"
5624,7.1,"CUPGE - Sciences, technologie, santé"
647,3.3,"CUPGE - Sciences, technologie, santé"
56,1.7,"CUPGE - Sciences, technologie, santé"
1581,0.0,"CUPGE - Sciences, technologie, santé"
1533,0.0,"CUPGE - Sciences, technologie, santé"
1614,0.0,"CUPGE - Sciences, technologie, santé"
1609,0.0,"CUPGE - Sciences, technologie, santé"
759,0.0,"CUPGE - Sciences, technologie, santé"

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
2202,5.0,BUT - Service
91,3.8,BUT - Service
3730,3.1,BUT - Service
3973,2.7,BUT - Service
4061,1.5,BUT - Service
...,...,...
2201,0.0,BUT - Service
2173,0.0,BUT - Service
2192,0.0,BUT - Service
2310,0.0,BUT - Service
2336,0.0,BUT - Service

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
1560,20.5,Formations Bac + 5
1762,20.0,Formations Bac + 5
4495,7.0,Formations Bac + 5
5993,4.4,Formations Bac + 5
158,4.3,Formations Bac + 5
1203,2.4,Formations Bac + 5
1141,2.2,Formations Bac + 5
2453,1.2,Formations Bac + 5
102,1.0,Formations Bac + 5
3882,0.0,Formations Bac + 5
4140,0.0,Formations Bac + 5
6552,0.0,Formations Bac + 5
703,0.0,Formations Bac + 5
458,0.0,Formations Bac + 5
2927,0.0,Formations Bac + 5
2535,0.0,Formations Bac + 5
5100,NaN,Formations Bac + 5
5101,NaN,Formations Bac + 5
5102,NaN,Formations Bac + 5
5103,NaN,Formations Bac + 5
6452,NaN,Formations Bac + 5
6453,NaN,Formations Bac + 5

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
3367,64.3,Licence - Sciences - technologies - santé
5421,60.0,Licence - Sciences - technologies - santé
5248,50.0,Licence - Sciences - technologies - santé
3416,45.5,Licence - Sciences - technologies - santé
3101,33.3,Licence - Sciences - technologies - santé
...,...,...
2332,0.0,Licence - Sciences - technologies - santé
2287,0.0,Licence - Sciences - technologies - santé
2286,0.0,Licence - Sciences - technologies - santé
3164,NaN,Licence - Sciences - technologies - santé
5180,NaN,Licence - Sciences - technologies - santé

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
6312,25.0,D.E secteur sanitaire
6325,16.7,D.E secteur sanitaire
2926,10.0,D.E secteur sanitaire
3060,7.1,D.E secteur sanitaire
5071,6.3,D.E secteur sanitaire
...,...,...
1758,0.0,D.E secteur sanitaire
1757,0.0,D.E secteur sanitaire
1756,0.0,D.E secteur sanitaire
1755,0.0,D.E secteur sanitaire
6311,NaN,D.E secteur sanitaire

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
6514,50.0,Formations des écoles d'ingénieurs
3763,43.0,Formations des écoles d'ingénieurs
4660,34.1,Formations des écoles d'ingénieurs
3046,30.0,Formations des écoles d'ingénieurs
3762,24.8,Formations des écoles d'ingénieurs
...,...,...
5342,NaN,Formations des écoles d'ingénieurs
6301,NaN,Formations des écoles d'ingénieurs
6319,NaN,Formations des écoles d'ingénieurs
6528,NaN,Formations des écoles d'ingénieurs
6586,NaN,Formations des écoles d'ingénieurs

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
4622,0.0,Mise à niveau
4640,0.0,Mise à niveau
4648,0.0,Mise à niveau
3574,0.0,Mise à niveau
4162,0.0,Mise à niveau
3944,0.0,Mise à niveau
4031,0.0,Mise à niveau
3805,0.0,Mise à niveau
5957,0.0,Mise à niveau
5995,0.0,Mise à niveau
5935,0.0,Mise à niveau
4908,0.0,Mise à niveau
1139,0.0,Mise à niveau
1087,0.0,Mise à niveau
1189,0.0,Mise à niveau
1667,0.0,Mise à niveau
1363,0.0,Mise à niveau
1330,0.0,Mise à niveau
1390,0.0,Mise à niveau
1483,0.0,Mise à niveau
268,0.0,Mise à niveau
219,0.0,Mise à niveau
824,0.0,Mise à niveau
439,0.0,Mise à niveau
2112,0.0,Mise à niveau
2134,0.0,Mise à niveau
2095,0.0,Mise à niveau
2519,0.0,Mise à niveau
2199,0.0,Mise à niveau
2183,0.0,Mise à niveau
4317,NaN,Mise à niveau

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
243,0.0,Licence - Droit-économie-gestion / Arts-lettre...
3236,0.0,Licence - Droit-économie-gestion / Arts-lettre...

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
3679,0.0,Année préparatoire
4085,0.0,Année préparatoire
3999,0.0,Année préparatoire
6040,0.0,Année préparatoire
6039,0.0,Année préparatoire
6602,0.0,Année préparatoire
6509,0.0,Année préparatoire
6553,0.0,Année préparatoire
5232,0.0,Année préparatoire
1268,0.0,Année préparatoire
913,0.0,Année préparatoire
1566,0.0,Année préparatoire
1519,0.0,Année préparatoire
296,0.0,Année préparatoire
754,0.0,Année préparatoire
3359,0.0,Année préparatoire
3142,0.0,Année préparatoire
1715,0.0,Année préparatoire
2285,0.0,Année préparatoire

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
6320,0.0,Diplôme National d'Art
6259,0.0,Diplôme National d'Art
5158,0.0,Diplôme National d'Art
4898,0.0,Diplôme National d'Art
748,0.0,Diplôme National d'Art
470,0.0,Diplôme National d'Art
2918,0.0,Diplôme National d'Art

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
4965,4.7,Formation des écoles de commerce et de management
2950,4.1,Formation des écoles de commerce et de management
2856,2.9,Formation des écoles de commerce et de management
2949,2.0,Formation des écoles de commerce et de management
2934,1.5,Formation des écoles de commerce et de management
...,...,...
3129,0.0,Formation des écoles de commerce et de management
3166,0.0,Formation des écoles de commerce et de management
2018,0.0,Formation des écoles de commerce et de management
2078,0.0,Formation des écoles de commerce et de management
5452,NaN,Formation des écoles de commerce et de management

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
4797,0.0,Mention complémentaire
4809,0.0,Mention complémentaire
4782,0.0,Mention complémentaire
4047,0.0,Mention complémentaire
4299,0.0,Mention complémentaire
...,...,...
6291,NaN,Mention complémentaire
6482,NaN,Mention complémentaire
6545,NaN,Mention complémentaire
6570,NaN,Mention complémentaire
6580,NaN,Mention complémentaire

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
1529,0.0,Formation professionnelle
710,0.0,Formation professionnelle
837,0.0,Formation professionnelle
475,0.0,Formation professionnelle
538,0.0,Formation professionnelle
3306,0.0,Formation professionnelle
3169,0.0,Formation professionnelle
1774,0.0,Formation professionnelle
711,NaN,Formation professionnelle
3143,NaN,Formation professionnelle

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
491,1.1,CUPGE - Droit-économie-gestion
490,0.0,CUPGE - Droit-économie-gestion
3176,0.0,CUPGE - Droit-économie-gestion

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
613,11.1,C.M.I - Cursus Master en Ingénierie
6510,0.0,C.M.I - Cursus Master en Ingénierie
6506,0.0,C.M.I - Cursus Master en Ingénierie
6505,0.0,C.M.I - Cursus Master en Ingénierie
5145,0.0,C.M.I - Cursus Master en Ingénierie
5156,0.0,C.M.I - Cursus Master en Ingénierie
5157,0.0,C.M.I - Cursus Master en Ingénierie
5433,0.0,C.M.I - Cursus Master en Ingénierie
1006,0.0,C.M.I - Cursus Master en Ingénierie
1664,0.0,C.M.I - Cursus Master en Ingénierie
1598,0.0,C.M.I - Cursus Master en Ingénierie
1619,0.0,C.M.I - Cursus Master en Ingénierie
698,0.0,C.M.I - Cursus Master en Ingénierie
696,0.0,C.M.I - Cursus Master en Ingénierie
728,0.0,C.M.I - Cursus Master en Ingénierie
640,0.0,C.M.I - Cursus Master en Ingénierie
635,0.0,C.M.I - Cursus Master en Ingénierie
683,0.0,C.M.I - Cursus Master en Ingénierie
665,0.0,C.M.I - Cursus Master en Ingénierie
739,0.0,C.M.I - Cursus Master en Ingénierie
632,0.0,C.M.I - Cursus Master en Ingénierie
841,0.0,C.M.I - Cursus Master en Ingénierie
839,0.0,C.M.I - Cursus Master en Ingénierie
747,0.0,C.M.I - Cursus Master en Ingénierie
597,0.0,C.M.I - Cursus Master en Ingénierie
596,0.0,C.M.I - Cursus Master en Ingénierie
579,0.0,C.M.I - Cursus Master en Ingénierie
551,0.0,C.M.I - Cursus Master en Ingénierie
1781,0.0,C.M.I - Cursus Master en Ingénierie
1712,0.0,C.M.I - Cursus Master en Ingénierie
1711,0.0,C.M.I - Cursus Master en Ingénierie
1841,0.0,C.M.I - Cursus Master en Ingénierie
1840,0.0,C.M.I - Cursus Master en Ingénierie
840,NaN,C.M.I - Cursus Master en Ingénierie

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
599,0.0,CUPGE - Arts Lettres Langues

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
682,2.0,Licence - Droit-économie-gestion / Sciences hu...

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
4759,0.0,Classe préparatoire aux études supérieures
5941,0.0,Classe préparatoire aux études supérieures
4940,0.0,Classe préparatoire aux études supérieures
5476,0.0,Classe préparatoire aux études supérieures
5464,0.0,Classe préparatoire aux études supérieures
1193,0.0,Classe préparatoire aux études supérieures
893,0.0,Classe préparatoire aux études supérieures
793,0.0,Classe préparatoire aux études supérieures
783,0.0,Classe préparatoire aux études supérieures
770,0.0,Classe préparatoire aux études supérieures
2795,0.0,Classe préparatoire aux études supérieures
3420,0.0,Classe préparatoire aux études supérieures
1779,0.0,Classe préparatoire aux études supérieures
2319,0.0,Classe préparatoire aux études supérieures
2343,0.0,Classe préparatoire aux études supérieures

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
4515,0.0,DEUST
3641,0.0,DEUST
4712,0.0,DEUST
3589,0.0,DEUST
4661,0.0,DEUST
4098,0.0,DEUST
3974,0.0,DEUST
3733,0.0,DEUST
3732,0.0,DEUST
5853,0.0,DEUST
6418,0.0,DEUST
6576,0.0,DEUST
6537,0.0,DEUST
5429,0.0,DEUST
1513,0.0,DEUST
1446,0.0,DEUST
846,0.0,DEUST
814,0.0,DEUST
3479,0.0,DEUST
3478,0.0,DEUST
3081,0.0,DEUST
1872,0.0,DEUST
2464,0.0,DEUST

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
6379,0.0,BPJEPS
6408,0.0,BPJEPS
6594,0.0,BPJEPS
6350,0.0,BPJEPS
6349,0.0,BPJEPS
5046,0.0,BPJEPS
5239,0.0,BPJEPS
4994,0.0,BPJEPS
4993,0.0,BPJEPS
4987,0.0,BPJEPS
4984,0.0,BPJEPS
4983,0.0,BPJEPS
4982,0.0,BPJEPS
5017,0.0,BPJEPS
5016,0.0,BPJEPS
854,0.0,BPJEPS
853,0.0,BPJEPS
852,0.0,BPJEPS
851,0.0,BPJEPS
850,0.0,BPJEPS
849,0.0,BPJEPS
848,0.0,BPJEPS
877,0.0,BPJEPS
2975,0.0,BPJEPS
2974,0.0,BPJEPS
3086,0.0,BPJEPS
3000,0.0,BPJEPS
3209,0.0,BPJEPS
2021,0.0,BPJEPS
2020,0.0,BPJEPS
2039,0.0,BPJEPS
1887,0.0,BPJEPS
1886,0.0,BPJEPS
1885,0.0,BPJEPS
1851,0.0,BPJEPS
1855,0.0,BPJEPS
1854,0.0,BPJEPS
1853,0.0,BPJEPS
1852,0.0,BPJEPS
5238,NaN,BPJEPS
6595,NaN,BPJEPS

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
5005,100.0,DN MADE
6364,33.3,DN MADE
1890,25.0,DN MADE
1895,20.0,DN MADE
1903,20.0,DN MADE
...,...,...
1894,0.0,DN MADE
1893,0.0,DN MADE
1864,0.0,DN MADE
1866,NaN,DN MADE
6365,NaN,DN MADE

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
6230,4.8,D.E secteur social
6568,0.0,D.E secteur social
6226,0.0,D.E secteur social
6225,0.0,D.E secteur social
6224,0.0,D.E secteur social
...,...,...
2049,0.0,D.E secteur social
2022,NaN,D.E secteur social
5418,NaN,D.E secteur social
6228,NaN,D.E secteur social
6247,NaN,D.E secteur social

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
1499,0.0,Diplôme d'établissement

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
1512,5.3,Licence - Sciences humaines et sociales / Scie...

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
6374,0.0,Diplôme d'Université
6295,0.0,Diplôme d'Université
5058,0.0,Diplôme d'Université
5227,0.0,Diplôme d'Université
5354,0.0,Diplôme d'Université
5397,0.0,Diplôme d'Université
5406,0.0,Diplôme d'Université
5405,0.0,Diplôme d'Université
5403,0.0,Diplôme d'Université
5401,0.0,Diplôme d'Université
5382,0.0,Diplôme d'Université
5386,0.0,Diplôme d'Université
5477,0.0,Diplôme d'Université
5430,0.0,Diplôme d'Université
5427,0.0,Diplôme d'Université
5417,0.0,Diplôme d'Université
5442,0.0,Diplôme d'Université
5469,0.0,Diplôme d'Université
5467,0.0,Diplôme d'Université
5466,0.0,Diplôme d'Université
5453,0.0,Diplôme d'Université
1597,0.0,Diplôme d'Université
3348,0.0,Diplôme d'Université
3375,0.0,Diplôme d'Université
3363,0.0,Diplôme d'Université
3377,0.0,Diplôme d'Université
3378,0.0,Diplôme d'Université
3437,0.0,Diplôme d'Université
3379,0.0,Diplôme d'Université
3396,0.0,Diplôme d'Université
3395,0.0,Diplôme d'Université
3394,0.0,Diplôme d'Université
3390,0.0,Diplôme d'Université
3389,0.0,Diplôme d'Université
3381,0.0,Diplôme d'Université
3423,0.0,Diplôme d'Université
3412,0.0,Diplôme d'Université
3411,0.0,Diplôme d'Université
3410,0.0,Diplôme d'Université
3006,0.0,Diplôme d'Université
3191,0.0,Diplôme d'Université
1999,NaN,Diplôme d'Université
3413,NaN,Diplôme d'Université
3422,NaN,Diplôme d'Université
3424,NaN,Diplôme d'Université
3428,NaN,Diplôme d'Université
3435,NaN,Diplôme d'Université
3436,NaN,Diplôme d'Université
3442,NaN,Diplôme d'Université
5404,NaN,Diplôme d'Université
5459,NaN,Diplôme d'Université
5475,NaN,Diplôme d'Université

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
1821,0.0,Licence - Arts-lettres-langues / Sciences huma...
2511,0.0,Licence - Arts-lettres-langues / Sciences huma...

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
1843,34.4,CPES
5462,7.1,CPES
5471,0.0,CPES

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
1856,0.0,DEJEPS

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
2642,0.0,Cadre Technique
2641,0.0,Cadre Technique

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
6440,0.0,Diplôme d'Etablissement
6531,0.0,Diplôme d'Etablissement
4911,0.0,Diplôme d'Etablissement
4942,0.0,Diplôme d'Etablissement
5365,0.0,Diplôme d'Etablissement
2851,0.0,Diplôme d'Etablissement
2643,0.0,Diplôme d'Etablissement
3317,0.0,Diplôme d'Etablissement
3391,0.0,Diplôme d'Etablissement

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
6200,0.0,BTS - Maritime
6199,0.0,BTS - Maritime
4819,0.0,BTS - Maritime
2801,0.0,BTS - Maritime
2800,0.0,BTS - Maritime

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
3368,75.0,Sciences politiques
5422,57.1,Sciences politiques
4930,45.1,Sciences politiques
5268,44.8,Sciences politiques
5269,43.3,Sciences politiques
6296,43.1,Sciences politiques
3230,42.6,Sciences politiques
3231,41.7,Sciences politiques
3323,39.6,Sciences politiques
2907,23.5,Sciences politiques
5390,21.6,Sciences politiques
4932,18.8,Sciences politiques
4931,16.5,Sciences politiques
4929,14.1,Sciences politiques
2906,12.9,Sciences politiques
4933,8.3,Sciences politiques

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
4980,5.9,Formation des écoles supérieure d'art
2935,3.0,Formation des écoles supérieure d'art
6417,0.0,Formation des écoles supérieure d'art
6321,0.0,Formation des écoles supérieure d'art
4974,0.0,Formation des écoles supérieure d'art
4973,0.0,Formation des écoles supérieure d'art
4972,0.0,Formation des écoles supérieure d'art
2958,0.0,Formation des écoles supérieure d'art
2936,0.0,Formation des écoles supérieure d'art
2937,0.0,Formation des écoles supérieure d'art

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
6498,4.8,Licence - STAPS
6508,0.0,Licence - STAPS
6503,0.0,Licence - STAPS
6502,0.0,Licence - STAPS
5154,0.0,Licence - STAPS
5368,0.0,Licence - STAPS
3370,0.0,Licence - STAPS
3007,0.0,Licence - STAPS
3134,0.0,Licence - STAPS

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
5229,55.0,Formations des écoles nationales vétérinaires
3206,37.5,Formations des écoles nationales vétérinaires
5230,30.0,Formations des écoles nationales vétérinaires

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
6300,9.8,Formation valant grade de licence
4927,7.1,Formation valant grade de licence
4928,5.7,Formation valant grade de licence
6299,3.1,Formation valant grade de licence

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
6322,5.3,Formation des écoles supérieures de cuisine
4955,4.8,Formation des écoles supérieures de cuisine
4954,0.0,Formation des écoles supérieures de cuisine
5396,0.0,Formation des écoles supérieures de cuisine
5395,0.0,Formation des écoles supérieures de cuisine

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
4956,12.0,Formations Bac + 3

None

,% d’admis néo bacheliers avec mention Très Bien avec félicitations au bac,Filière de formation
5436,0.0,LP - Droit-économie-gestion

None